[2016-10-08 08:19] FallenRiteMonk opened #1 "Documentation"
Hello,

I would be greatly interested to implementing such a module into my project, but before doing so I would like to know in how far you are thinking to keep this component up to date and continue work on it?

And would it also be possible to create some kind of documentation?

Thanks and Greetings

[2016-10-08 11:39] FallenRiteMonk opened #2 "Cannot find Module openlayers"
Importing the module like:
[code]
result in the following error message:
[code]

[2016-10-10 08:18] quentin-ol commented on #1
Hello @FallenRiteMonk ,

To be honest, I don't know how long I will be able to keep it up-to-date. I'm developing this module because of a GUI application that shows the positions of in-the-field devices. This application is part of a bigger project named Sensorlab2 that we'll keep on working for a while so I expect to be maintaining this for at least a year.

My plan for this module is to push as

[2016-10-10 08:50] quentin-ol commented on #2
It looks like the openlayers type definitions are missing, my bad.
I will add them as a dependency.

In the meantime, those are available in the `@types` npm repository :
[code]

[2016-10-10 09:20] quentin-ol commented on #2
Fixed in commit e2721f8c1b5baa0775f1393de2c2b6cf53d64772.
Available as npm package 0.1.4: `npm update` should do the trick.
Closing the issue.

[2016-10-10 09:20] #2 closed

[2016-10-10 16:48] FallenRiteMonk opened #4 "Cannot read property 'prototype' of undefined"
Importing the Module leads the following error:
[code]

The error seems to be thrown on the following line of the feature component:
[code]

to be preciser it's line 5 possition 69

Thank you

[2016-10-11 09:26] quentin-ol commented on #4
I can't reproduce your error.
Could you provide a minimal example that reproduces the error ?

Here is an example that works for me:
in `app.module.ts`:
[code]
in `app.component.ts`:
[code]

in `index.html`:
[code]

[2016-10-11 10:47] FallenRiteMonk commented on #4
I figured out what was the problem, it was due to a second import of openlayers that I already had, so removing that fixed the problem.

But would you please be so kind and putt the example in your readme file, that would already help.

Thanks

[2016-10-11 10:49] FallenRiteMonk commented on #4
And your imports in the app component are not needed! You can remove them and your example still works!

[2016-10-11 12:10] FallenRiteMonk opened #5 "stretching problem"
I found an error that I already had in my project. Let me try to describe it:
I have a page with a toggle able side bar, the rest of the page is filled with the map. Now if i toggle the sidebar the view port of the map gets changed in size, but the page content is stretched.

I fixed this problem before by adding the following to my map page:

[code]

I don't know if this is the best, or right sol

[2016-10-11 13:12] quentin-ol commented on #4
@FallenRiteMonk
Thanks for the feedback,
I will add this short example to the readme.
Can I close this issue ?

[2016-10-11 13:17] quentin-ol commented on #5
Could you help me reproduce it ?
Are you using angular/material2, by any chance ?

[2016-10-11 13:56] #4 closed

[2016-10-11 16:06] FallenRiteMonk commented on #5
No I'm using angular-cli and bootstrap.
I created a min example:
https://github.com/FallenRiteMonk/angular2-openlayers-example

just install angular-cli globaly, run npm install in the example and then ng serve and you'll have it up and running

[2016-10-12 08:06] quentin-ol commented on #5
Thanks for putting up this example, I will look into it.

[2016-10-12 08:24] FallenRiteMonk commented on #5
Would you like me to create a PR for this problem?

[2016-10-12 12:45] quentin-ol commented on #5
Hey @FallenRiteMonk,
This looks it could solve the issue but there is still a concern regarding "performances".
According to the docs (https://angular.io/docs/ts/latest/api/core/index/DoCheck-class.html),
[code]
That means that the `map.resize` function *might* be called quite often.
I'm currently reading a bit more on the Change Detection algorithm in Angular2 to help myself
forge an opinion on t

[2016-10-12 16:54] FallenRiteMonk commented on #5
I realized that it is called way to often, but since my app isn't to big that was not a problem for me.

I would really like to try my self with a fix, but sadly I'm not able to get my local version to run. I'll create an issue for that as well.

[2016-10-12 16:55] FallenRiteMonk opened #6 "Developing"
Running ```npm install``` on a clean clone of the project results in the following error once reaching prepublish tsc command.
The exact message that is outputted is;
[code]

[2016-10-13 07:38] quentin-ol commented on #6
The type definitions for openlayers 3.18.2 are incomplete. The `ol.proj.Projection` objects do have a `getCode` method (http://openlayers.org/en/latest/apidoc/ol.proj.Projection.html) as `removeFeature` is a legit method of the `ol.source.Vector` objects (http://openlayers.org/en/latest/apidoc/ol.source.Vector.html).
I  added them manually to my typings and forgot to prepare a PR. I will get one r

[2016-10-17 09:03] quentin-ol commented on #6
Hey @FallenRiteMonk,

Sorry for the delay. I've finally found the time to look into this issue:
68fad72264ece33cc90b2f65fe7f12f517105692 should fix it.

[2016-10-18 14:40] quentin-ol commented on #6
Closing, feel free to re-open if problem still occurs for you.

[2016-10-18 14:40] #6 closed

[2016-11-24 14:50] FallenRiteMonk commented on #6
That problem seems to be fixed, but now I'm missing some files.
Here the error I get:
[code]
either you they were just not commited, or the line importing them should have stayed commented out!

[2016-11-28 10:33] FallenRiteMonk opened #8 "openlayers css"
Would it be possible to somehow import the css file of openlayers into the map component, because at the moment when using this library I have to:
  -  install the library (contains ol3 as dependency)
  -  install openlayers (to optain css)
  -  globally import ol css so that controls have the right style
by this manner I have openlayers as duplicated dependency, plus the globally import of the cs

[2016-11-29 11:07] quentin-ol commented on #8
I agree that this would be a great improvement.
I will give a try later this week. I keep you updated.
Thanks again.

[2016-11-29 11:20] FallenRiteMonk commented on #8
I just had an idea, which could solve this as a temporary workaround. It should be possible to just copy the ol css file to a folder in src (by a node script as part of the prepublish command) and include it into the map component by using ```styleUrls``` insted of ```styles```. You would also have to put your custom css into its own file and also import it.

The only thing I don't know is if chil

[2016-12-01 20:30] alienlike commented on #1
I'm also eager to see some docs and examples. I intend to use OL with Angular 2 on several upcoming projects and may even be able to contribute to this project.

[2016-12-02 12:33] quentin-ol commented on #8
I've looked into this and couldn't come up with a satisfactory solution yet.
Basically, the issue comes down to CSS encapsulation in angular2. There are 3 ways to feed (leak?) CSS to child components:
- piercing CSS combinators ```>>>``` or  ```/deep/``` which, I believe, requires a rewrite of the CSS provided by OpenLayers.
- using the ```none``` encapsulation in all our components, i.e.
``` enca

[2016-12-06 09:10] FallenRiteMonk opened #12 "[Discussion] ol3-cesium"
We recently decided that the map on our project should sooner or later have the possibility to not only be flat, but to look like an actual globe. I have done some research and came across [ol3-cesium](https://github.com/openlayers/ol3-cesium).

Not what I would like to discuss is if it would make sense to implement that into this project, as it is from openlayers to and also uses ol. I think it w

[2016-12-06 09:45] FallenRiteMonk commented on #8
According to what what I read in the links you mentioned I would say:
 * using CSS combinators is for sure not the right solution, because as you mentioned it requires a rewrite of the css and that then would have to be done manually or by some kind of build script, which would be extra work on every ol update and one could then also put the corresponding styles into the components directly withou

[2016-12-06 10:51] FallenRiteMonk opened #13 "bing source"
Just wanted to ask if the bing source works for you, as I'm trying to do something similar to what you are doing there with the key string.
But I always get the error: ```
error_handler.js:53Error: No provider for String! ```
and leaving it away and passing this.key to the super constructor results in an error about not being able to call this before calling the super constructor, which is totally

[2016-12-06 10:54] quentin-ol commented on #13
Hey,

I will look into this later this afternoon (in a few hours).
Thanks for spotting the issue and sorry that  things are not as polished as it should.
Quentin

From: FallenRiteMonk <notifications@github.com>
Reply-To: quentin-ol/angular2-openlayers <reply@reply.github.com>
Date: Tuesday, 6 December 2016 at 11:51
To: quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com>
Subject

[2016-12-07 09:57] quentin-ol commented on #13
Quick update: found the reason why this isn't working.
Apart from the silly mistake that I made, i.e. passing the key using dependency injection, the problem stems from the way the BingMap source component is initialised: it's created before its inputs are resolved. It means that the ol.source.BingMaps instance is created without an API key, hence the issue.

I'm working on a rewrite of the source

[2016-12-07 10:00] quentin-ol commented on #5
Does this issue still affects you ?

[2016-12-07 10:09] FallenRiteMonk commented on #5
I'm currently working around it by not changing the size of the map, but I thought of these solutions:
 1) Instead of having the height and width of the map template 100%, make it an input of the component with a default value of 100% and call map.resize on change. This way one can at least update the map manually.
 2) Create a simple function to just expose this method call and let on call it by

[2016-12-07 10:11] FallenRiteMonk commented on #5
I personally like the first solution better since that implementation would make a wrapper around the map 	unnecessary and one could just pass the size in

[2016-12-12 09:37] quentin-ol commented on #12
Hey @FallenRiteMonk, I didn't know about this library:  very interesting.
It does seem fairly simple to implement as well, especially with the change I made in the dev branch.
I will definitely give it try. Feel free to chime in if you're willing to help.
Thanks again for making me discover this library!

[2016-12-12 09:43] quentin-ol commented on #13
Quick update 2: the dev branch has a working solution for the BingMap source. Here is how to use it:
[code]

I'm still reviewing the changes before the merge.
@FallenRiteMonk, if by change you have time to test the dev branch as well, that'd be great.

[2016-12-12 09:43] FallenRiteMonk commented on #12
I have already given it a try, but I didn't even get as far as importing the library. I opened an [issue](https://github.com/openlayers/ol3-cesium/issues/426). If you have any ideas or know hot to fix it, please let me know.

[2016-12-12 09:45] quentin-ol commented on #5
@FallenRiteMonk I like your first solution better as well. Could you set up a PR for it?
Thanks again!

[2016-12-12 12:06] FallenRiteMonk commented on #13
@quentin-ol I'd like to test it for you, but could you please give me a bingMap key so I dont have to create one just for this test?

[2016-12-12 12:26] quentin-ol commented on #13
@FallenRiteMonk I know that there is one in the Openlayers examples :
https://github.com/openlayers/ol3/blob/master/examples/bing-maps.js

I myself would not use for any other purpose than testing (one-time) a feature related to OpenLayers as it's the property of the Openlayers project. You might want to ask them specifically about it.

[2016-12-12 12:39] quentin-ol commented on #13
@FallenRiteMonk
Just in case you need it :
- To generate a package (in angular2-openlayers folder)
[code]
- To install this new package (in the folder of your project)
[code]

[2016-12-12 13:03] FallenRiteMonk commented on #13
@quentin-ol  LGTM

[2016-12-12 15:44] quentin-ol commented on #5
PR #16 fixes this issue.
Thanks @FallenRiteMonk

[2016-12-12 15:44] #5 closed

[2016-12-12 23:12] FallenRiteMonk opened #19 "Importing issue"
I'm using angular-cli for my project and never had a problem importing this library:
[code]
but since angular-cli beta 22 it no longer works. I get the following error:
[code]

I don't know exactly if this is a problem with angular-cli or with this library, so please have a look at it or let me know if you have no time/idea, then I'll create a issue at the angular-cli repo.

[2016-12-13 13:13] FallenRiteMonk commented on #19
You are correct in all 3 points, with the little extra to say that beta 22 didn't adopt AOT but made it default (on purpose or not) https://github.com/angular/angular-cli/issues/3368.

Still I think it is important to generally be AOT compliant and also angular-cli complient, since I thing/guess the cli will be the future default boilerplate for angular2 apps and AOT because I'd rater decline this

[2016-12-15 14:50] FallenRiteMonk commented on #13
A quick question: for future contributions do you want me to continue on the dev branch or should I continue like until now on the master branch?

[2016-12-15 15:14] quentin-ol commented on #13
I believe the dev branch should be merged into master. The only reason it exists is to test PRs without breaking everything for those who rely on the lib.

[2016-12-15 15:50] quentin-ol commented on #13
oh, sorry! Re-reading my comment made me realise I wasn't clear!
The plan is to keep a dev branch for testing purposes. I was suggesting that we could merge the two of them now that the PR has been accepted and that its features and bugfixes have been tested. Obviously, next non-trivial changes will land in dev.
Thanks again for the PRs, much much appreciated! 👍

[2016-12-15 16:01] FallenRiteMonk commented on #13
Ok sounds good!

No problem, happy to help, and I'm still also helping myself. Just hope to see this soon on npm!

[2016-12-16 15:27] quentin-ol commented on #19
I believe this issue is solved, could you double-check and close it ?

[2016-12-16 15:28] #13 closed

[2016-12-19 09:19] FallenRiteMonk commented on #19
Sorry I was on the road for a few days, so I couldn't test. I saw you merged everything so I tried importing version 0.4.1 from npm and tried running it with aot, but the map stayed blank.

I don't know exactly what the problem now is, but I'll have a look and let you know. In the mean while could you please tell me exactly what procedure you run in order to publish on npm.

[2016-12-19 09:22] quentin-ol commented on #19
I'm using the ```npm publish``` command.
The complete workflow is given here: https://docs.npmjs.com/getting-started/publishing-npm-packages

[2016-12-19 10:28] FallenRiteMonk commented on #19
Do you have to run ```npm run prepublish``` befror ```npm publish``` or is that automatically done like with ```npm pack```?

[2016-12-20 14:37] quentin-ol commented on #19
Hey!
No need to run prepublish prior to ```npm publish``` as it takes care of it. Here is the output of npm publish:
[code]

[2016-12-21 22:13] alienlike opened #26 "Uncaught SyntaxError: Unexpected token import"
I'm getting an `unexpected token import` exception in Chrome due to the following code in `index.js`:

[code]

It seems like this started happening with the change to `ngc` but I'm not really sure.

[2016-12-22 11:03] FallenRiteMonk commented on #26
Do you get the exact line number of the unexpected token?
Also give some more information on how to reproduce this issue:
 * Are you using the provided cli example in the code
 * Are you using your own example, if yes, how are you importing the library
 * Are you using AOT

[2016-12-22 11:19] FallenRiteMonk opened #27 "Dynamic style components loading"
Reviewing #17 I noticed that if I dynamically add a Icon style to a style component, it doesn't get shown, since a subscription is done on ngAfterContentInit. Like so if a icon is added dynamically using ngIf for example, it will never be shown.
At the moment I can think of these solutions:
 * make it clear to the users that a style component always has to be filled with the according sub-style co

[2016-12-22 13:34] quentin-ol opened #28 "Blank map in a fresh angular-cli generated app"
Hey,

I've updated angular-cli to 1.0.0-beta.24 and tried created a fresh app using the latest AOT compatible version (0.4.2).
I ran the usual:
[code]
then I imported the angular2-openlayers module in app.module.ts:
[code]
and put together this simple example in app.component.html:
[code]

Running ```ng serve``` throws a dump of errors:
[code]
Since it seemed to have something with the angular pac

[2016-12-22 13:36] quentin-ol commented on #28
this might be related to #19. @FallenRiteMonk mentioned having a blank map issue as well.

[2016-12-22 14:05] FallenRiteMonk commented on #28
I have the same problem here since angular-cli beta 24. I get the same error you mentioned running ```ng serve --aot```, just running ```ng serve``` i get:
```ERROR in Error encountered resolving symbol values statically. Calling function 'makeDecorator', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol NgModule

[2016-12-22 14:15] quentin-ol commented on #28
Thanks for the help, also investigating it right now.

[2016-12-22 14:18] FallenRiteMonk commented on #28
Currently I think it has to do with the angular version itself. Cli bet 24 started using ```^2.3.1```, maybe try upgrading the library to the same version, or maybe even 2.4.0 and see if that helps! I have to leave now otherwise I would try myself.

[2016-12-22 15:42] FallenRiteMonk commented on #28
I think it would be best to move all library dependencies to devDependencies in order to prevent such errors in future. Maybe only the angular packages, but since a user has to install openlayers anyway for the styling (due to #8), we could also just move it and write it into the README.
@quentin-ol what do you think?

[2016-12-22 15:57] alienlike opened #30 "Module parse failed [example]"
I am trying to run the example app on a Windows 7 box. I used the following commands:

[code]

Output of `ng serve` follows:

[code]

[2016-12-22 15:58] alienlike commented on #26
Currently trying to get the example running but have not been successful due to #30.

[2016-12-22 16:05] alienlike commented on #26
The exception occurs on line number 1 of `dist/index.js`, which is bundled into `vendor.js` with Webpack. I am not using AOT.

I'm importing as follows:
- `import { AngularOpenlayersModule } from 'angular2-openlayers';` in my module
- `import { MapComponent, ViewComponent, LayerVectorComponent } from 'angular2-openlayers';` in my component

[2016-12-22 16:12] alienlike commented on #26
@quentin-ol, @FallenRiteMonk Thanks for helping me out. I'm developing two apps concurrently, both using Angular 2 and OpenLayers. One is a fairly trivial map-based app, the other a significant effort that will be developed over a few years and eventually see thousands of users. I'm submitting PRs as I need new features, and will try to conform them to your vision for this project. I'm new to the

[2016-12-22 16:13] quentin-ol commented on #30
Oh gosh, ng2-ol is a symlink to src ! Symlinks and windows do not play well along.
One way to fix it would be to use relative paths, _i.e._ ```../../../dist/``` but I'm not a big fan of this solution as relative paths are keen to create weirds bugs. I'd prefer the example (which is an angular-cli project) to depend on the angular2-openlayers NPM package.
Opinions ?

[2016-12-22 16:17] alienlike commented on #30
Aha. I wondered what ng2-ol was exactly.

My concern with using the NPM package as opposed to a relative path is that the NPM package will not necessarily be current with the cloned repo.

[2016-12-22 16:18] quentin-ol commented on #26
@alienlike My pleasure to help! As for the "vision" of the project, all opinions are welcome (encouraged even). Confronting ideas and proposals is always the best way forward so don't censor yourself, push PRs and let's find ways to get those features in the library!
Thanks again!

[2016-12-22 16:22] quentin-ol commented on #30
@alienlike exactly. This argument goes in favour of relative paths.
@FallenRiteMonk opinion?

[2016-12-22 16:44] FallenRiteMonk commented on #30
@alienlike sorry the one with the symlink goes on me.
@quentin-ol I used to have this as relative path, but the reason I changed it to the symlink was due to a error when running the example with ```ng serve --aot``` as the compiler wouldn't compile modules out side the example/src dir, because it would handle it like modules from node_modules folder and they have to be already compiled with ngc i

[2016-12-26 16:00] quentin-ol commented on #28
Regarding the issue discussed above, this example lacks an <aol-view> component. The ol.Map doesn't fetch the tiles which, according to the specification, is the expected behaviour (http://openlayers.org/en/latest/apidoc/ol.Map.html). In short, my bad.

Regarding the  other issue, _i.e._ angular-cli versions, this pertains to another issue. Closing this one for now.

[2016-12-26 16:00] #28 closed

[2016-12-26 16:00] quentin-ol commented on #1
Work in progress.

[2016-12-27 21:11] alienlike commented on #26
If I remove the line `"module": "es2015"` from `tsconfig.json`, the issue goes away.

Per https://www.typescriptlang.org/docs/handbook/compiler-options.html, module values "ES6" or "ES2015" may not be used in tandem with target "ES5".

[2016-12-27 21:51] alienlike opened #31 "Unexpected value 'AngularOpenlayersModule' imported by the module 'AppModule'"
If I tweak `tsconfig.json` to bypass #26, I'm now seeing this exception at runtime:

[code]

There are quite [a few posts](https://github.com/angular/angular/issues/11438) about this on the web, but I haven't found any fix. It seems that Angular metadata is somehow getting stripped out during compilation.

[2016-12-28 16:18] quentin-ol commented on #31
👍 for finding references to this issue!

I'm currently working on a clean-up of the code (code itself+documentation).
This should hit the repo soon.  Hoping to solve most of the open issues !

[2016-12-30 15:56] quentin-ol commented on #19
Closing as angular2-openlayers is now AOT compliant.
Feel free to reopen if need be

[2016-12-30 15:56] #19 closed

[2016-12-30 15:57] quentin-ol commented on #1
Documentation is available in /documentation. Closing as there is now a documentation.
Please open a new issue if the documentation lacks clarity or is misleading

[2016-12-30 15:57] #1 closed

[2016-12-30 15:58] quentin-ol commented on #26
update: Investigating this next week.

[2016-12-30 16:07] quentin-ol commented on #30
@FallenRiteMonk  I had the same issue you described regarding making ngc find the dist files outside of the example directory. The second solution is somewhat misleading for someone interested in the library.

I believe the best option is to make the example rely on the NPM package. You're right that this is prone to mishaps though. If that bites us too often, we'll reopen this issue and find anot

[2016-12-30 16:07] #30 closed

[2016-12-30 16:12] quentin-ol commented on #31
I've had similar issues with Angular2 and Typescripts version 2.1.x.
As for now, angular2 is not compatible with typescript 2.1.x. Could you check which version of typescript you're using ?

[2017-01-01 01:38] alienlike commented on #31
I was using TS 2.1, but after downgrading to 2.0 the problem persists.

[2017-01-01 09:22] quentin-ol commented on #31
Could you copy paste the dependencies part of your package.json?
Relevant items would be angular modules,  e.g. @angular/core, and angular2-openlayers.

BR,

Quentin

-------- Message d'origine --------
De : Nathaniel Wingfield <notifications@github.com>
Date : 01/01/2017 02:38 (GMT+01:00)
À : quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com>
Cc : LAMPIN Quentin IMT/OLPS <que

[2017-01-03 02:30] alienlike commented on #31
Here you have it.

[code]

I have angular2-openlayers locally, at commit `06b69dbc51458b` with the following change to work around #26:

[code]

[2017-01-10 11:37] dafranklin opened #32 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: AngularOpenlayersModule is not an NgModule"
Hi guys, angular 2 beginner here, i tried to use this module and it worked for a while, then beside doing an npm install I didn't do much yet I can't get my project to work anymore. I get the error below.

When i remove "AngularOpenlayersModule " from the imports in the app.module.ts file the project works again but ofc the map doesn't display as the import isn't there.

** NG Live Development Ser

[2017-01-11 08:08] #32 closed

[2017-01-11 09:52] quentin-ol commented on #32
Hey @dafranklin,  thanks for figuring out the issue.  I think this should go in the documentation. I will create a "common problems and solution"  section.
Thanks again

[2017-01-15 12:04] FallenRiteMonk opened #33 "[FEATURE] popup"
It would be a really nice feature to have popups. I found [this library](https://github.com/walkermatt/ol3-popup) which could be used and should be easy to implement. I found it on the official size of openlayers  [Useful 3rd party libraries](http://openlayers.org/3rd-party/), so it is somehow supported by openlayers and shouldn't be bad.

Sadly I currently have other priorities to work on so if s

[2017-01-18 14:50] quentin-ol commented on #31
this should be fixed with v0.5.0

[2017-01-18 14:50] #31 closed

[2017-01-18 14:51] quentin-ol commented on #26
should  be fixed with 0.5.0

[2017-01-18 14:51] #26 closed

[2017-01-18 14:52] quentin-ol commented on #27
+1 for solution 2. This is actually what's implemented in 0.5.0, though it might change if consensus rises against this choice.

[2017-01-23 13:23] davinkevin opened #34 "Event propagated through the whole app"
Hi,

I'm currently working on Angular and Openlayers and I found your work very interesting, but I have a question about the implementation you choose (and of course, the need we I have 😄  )

You choose to expose all the events from OpenLayer through `@Output()` in every component, but what if I want to `subscribe` to an event propagated by the `<aol-map></aol-map>` but I can't access it (because

[2017-01-23 14:11] quentin-ol commented on #34
This discussion is somewhat similar to #18.
Let me recap the previous discussion:

Our concern with such a service lies in the complexity it involves, _e.g_ keeping track of possibly multiple map instances within a single service, uniquely identifying each one, etc; and we came to the conclusion that the local variable pattern would address most use-cases.

Unless I'm mistaken, the use-case you're

[2017-01-23 15:30] davinkevin commented on #34
Thanks for your answer, and yes it similar at what #18 proposed (I forgot to read the PR).

In our team, we were users of the https://github.com/tombatossals/angular-openlayers-directive and we try to found the same thing here.

I understand what you are saying about communication with service and multiple map... but to implement what we need, we should have in each "project" (because we use ol3 i

[2017-01-23 16:58] Sicrum opened #35 "Async data binding issues"
Hello

I am using this markup to draw route and numbered circles in destinations:

[code]

Route data is loaded async when user clicks button in UI. First run is ok.
When click a button 2nd time then I get 2 issues here:
1) geometry-linestring is not cleared out when wayPoints is refreshed with new value. Map keeps existing route geometry and starts drawing new geometry from last point
2) "cannot

[2017-01-23 17:16] Sicrum commented on #35
Related to this issue. Added *ngIf to aol-map:
[code]

Also throwing

when map == false

[2017-01-25 14:11] FallenRiteMonk commented on #33
Just to inform you, I started implementing this feature.

[2017-01-25 14:21] quentin-ol commented on #35
Could you write a minimal example that reproduces this error? JSBin/JSFiddle or equivalent would be best.

Thx,

Quentin

[2017-01-25 17:47] Sicrum commented on #35
https://plnkr.co/edit/qrXLt52qUze8HifrJlOL?p=preview

**Issue 1**
Click "Toggle map". Map disappears and never shown again

**Issue 2**
Restart. Click "Route 1" - you will see route with destinations circles
Restart. Click "Route 2" - you will see almost same route near by. Now click "Route 1" again. Application hangs and that is what I see: https://www.screencast.com/t/s9e96c7h

Not sure how to s

[2017-01-25 18:07] quentin-ol commented on #35
Thx, I will look into it.

-------- Message d'origine --------
De : "Renat K." <notifications@github.com>
Date : 25/01/2017 18:47 (GMT+01:00)
À : quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com>
Cc : LAMPIN Quentin IMT/OLPS <quentin.lampin@orange.com>, Comment <comment@noreply.github.com>
Objet : Re: [quentin-ol/angular2-openlayers] Async data binding issues (#35)

https://p

[2017-01-30 11:19] Sicrum commented on #35
Hello. Any updates?

[2017-01-30 11:45] quentinlampin commented on #35
Not yet, I have a few deadlines that require my time. Anyone willing to investigate in the meantime?
-------- Message d'origine --------De : "Renat K." <notifications@github.com> Date : 30/01/2017  12:19  (GMT+01:00) À : quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com> Cc : Subscribed <subscribed@noreply.github.com> Objet : Re: [quentin-ol/angular2-openlayers] Async data bin

[2017-02-06 13:09] Sicrum commented on #35
Found an issue
https://www.screencast.com/t/qqzP5ybcIns

.instance was missing so OL native element could not be found and forEach threw an exception.
This is in FeaturesComponent. Have not checked other components

[2017-02-10 08:29] achimha opened #39 "Add dist to git"
The `/dist` directory should be part of the git repository. This is good practise with Angular components as it allows using the repo directly via npm and also from applications that do not have a Typescript tool chain.

You can just add to your package.json:

"angular2-openlayers": "https://github.com/quentin-ol/angular2-openlayers"

or your own fork.

[2017-02-10 08:30] achimha commented on #39
My change here (better to do yourself because a PR would have my path names):

https://github.com/achimha/angular2-openlayers/commit/e83eff6189211f4fc1d6f0c56d54fb2dd2c2acbe

The /aot directory is not needed, should still remain in `.gitignore`.

[2017-02-10 09:42] quentinlampin commented on #39
PR #40 seems to address this issue

[2017-02-10 11:33] #39 closed

[2017-02-10 12:00] achimha opened #41 "Source format implementation"
I have a semi-working implementation of `ol.source.VectorTile` which requires the parameter `format` in its constructor (unfortunately no `setFormat` available). The format can be something like `ol.format.MVT` which means we would desire this:

[code]

Now this has a chicken and egg problem. In `ngOnInit`, we create the OL3 objects but at this point the child components are not created yet and al

[2017-02-10 12:06] achimha commented on #41
Same is true for the `tileGrid` -- has to be set at object creation time: http://openlayers.org/en/latest/apidoc/ol.source.VectorTile.html

[2017-02-10 12:36] quentinlampin commented on #41
I believe the key to your issue is that Angular2 components are created in a top-down manner, meaning containers first. In your case, you need a child component instance to create the container instance.

The afterContent/View hooks should address this need: https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html#!#aftercontent.

Keep me updated, in case I can help (not much spare time at the

[2017-02-10 12:45] quentinlampin commented on #35
Hey, truly sorry I let this slip out of my mind. Have you found a solution yet ?
I tried to run the plunker but it  does not show anything. There is no error in the console as well.
Is it meant to be downloaded and ran locally ?

[2017-02-10 13:03] Sicrum commented on #35
Yes, I have found a solution. Checkout my previous comment.
In FeaturesComponent there was missing ".instance".
I have added fix into my local node_modules and now it works perfect

[2017-02-10 13:20] quentinlampin commented on #35
Great!

Could you create a PR for this ?

From: "Renat K." <notifications@github.com>
Reply-To: quentin-ol/angular2-openlayers <reply@reply.github.com>
Date: Friday, 10 February 2017 at 14:03
To: quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com>
Cc: Quentin Lampin <quentin.lampin@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [quentin-ol/angular2-openlayers] As

[2017-02-10 14:48] achimha commented on #41
Yes, using `afterContentInit` solves the problem. See my latest PR, I've used that approach.

[2017-02-10 14:48] #41 closed

[2017-02-10 15:15] achimha opened #43 "AttributionLike for sources"
Each `ol.source` class has an `AttributionLike` parameter (which can be set separately). I wonder how to implement this best. Doing it as a child component would mean duplicating the attribution and when one author provides several layers, the same copyright would be rendered multiple times.

http://openlayers.org/en/latest/apidoc/ol.html#.AttributionLike

Suggestions? The best solution I've come

[2017-02-10 19:29] achimha opened #44 "Use modular ol package"
There is now a bundler friendly package of OL which is much better suited for our purposes: https://www.npmjs.com/package/ol/

I think this one should be used instead of the monolithic openlayers package.

[2017-02-11 08:35] achimha commented on #44
Another related issue is custom builds. OL is very large and users are supposed to create a cutomized build with the features they need. The way angular2-openlayers works, it drags in dependencies for everything it implements and it exports everything globally.

I suggest to change it to have one component per file and not export everything by default. This way users can only pick what they need a

[2017-02-11 13:21] achimha opened #45 "ol.control implementation"
I started looking into the unfinished control implementations.

There are a few questions. First of all, I don't think you can derive the classes from the OL classes as this breaks the `@Input()` parameter setting. So I changed it to the `instance` method used elsewhere. Next, the question is whether to use transclusion with `<ng-content>`. I couldn't get it to work so I went for this solution whi

[2017-02-12 08:49] achimha commented on #43
A declarative approach would require defining the attribution outside the source, giving it a n Angular variable and then referencing the variable form the sources. That is probably the most Angular friendly approach.

For now I have taken another which I believe is OK as well:

[code]

and in the component:

[code]

The cleaner solution would be something along those lines:

[code]

Alternatively

[2017-02-13 11:54] achimha commented on #45
With a wrapper for the `<ng-content>`, it actually does work. Here's my generic `ol.Control` implementation that displays the content. Styling with selector piercing.

[code]

[2017-02-13 13:25] quentinlampin commented on #43
I'm in favor of creating an `aol-attribution` component, _i.e_ that bundles an  [ol.Attribution](http://openlayers.org/en/latest/apidoc/ol.Attribution.html) instance, i.e. the cleaner (:)) solution!

Using transclusion (if that's still the correct name for this in Angular2), we could retrieve the HTML content and pass it to the ol.Attribution instance. It could be used like this:
[code]
In my opin

[2017-02-13 13:26] quentinlampin commented on #43
by the way, thank you @achimha for the awesome work you've done.

[2017-02-13 13:26] quentinlampin commented on #44
100% in favor of moving to the modular package.

[2017-02-13 13:34] quentinlampin commented on #45
About the subclassing of ol.control classes : you're right. We moved away from this design in every other component but I haven't found the time to change the controls yet.

Regarding the transclusion and the wrapper solution, I'm not sure I understand what you're trying to achieve. Could you provide an example so I understand what's at stake and come back with meaningful ideas ?

[2017-02-13 13:42] achimha commented on #43
The real issue on the attribution is a use case where you have multiple sources from the same copyright holder. The modular approach means we get the same (C) message several times. I think this is both a valid and frequent use case.

Maybe we support the transclusion scenario and in addition have an `@Input()` parameter that returns the `AttributionLike` and use that when given instead of the `<n

[2017-02-13 13:47] achimha commented on #45
My (rather big now) PR has the control reimplementation included.

With the control class copied above, I can do this:

[code]

The only problem I see is that I get an additional wrapper `div`. I don't know a way around that as I can't get hold of the `<ng-content>` without an element to reference. It's probably OK but I don't like the extra `div`. You can see in my class that I get hold of the `#

[2017-02-13 14:29] quentinlampin commented on #45
Hmm, I'm not a fan of the wrapper div solution either.

Have you tried passing the ElementRef to the component constructor and then accessing the transcluded content like this ?
[code]

[2017-02-13 14:46] achimha commented on #45
Actually this works as well. Thanks!

[2017-02-13 16:56] achimha commented on #45
Came up with another issue with this approach (taking the first child). I created a an implementation of `ol.Control`. Among its parameters is the map position for which I used the existing `<aol-coordinate>`. Now the question is how to differentiate between the content of the overlay (inserted via transclusion) and the coordinate. Example markup:

[code]

The approach taken is to get an `ElementR

[2017-02-13 17:48] achimha commented on #45
What about enumerating children until we get the first one that does not start with `aol-`? Uglier? Less ugly? 😄

[2017-02-13 18:27] quentin-ol commented on #45
;)

We could also make use of HTML element IDs (#ugly) or CSS classes but that's .notpretty.

We could also enforce a "unique child" policy but that feels wrong (especially the name :/)
 Puns aside, I believe we should do multiple-slots content projection and write an "aol-content" directive (not component) to discriminate the content from the rest.

Opinions?

Interesting read on transclusion/pro

[2017-02-13 19:09] achimha commented on #45
I license the `<aol-content>` approach. That's at least clean. I'll implement it like this.

[2017-02-14 10:26] achimha commented on #43
Implemented as dicussed. We now have two options: either use the declarative fashion

[code]

Or pass an `ol.AttributionLike` via the `[attributions]="xyz"` property to the source directive.

[2017-02-14 10:26] #43 closed

[2017-02-14 10:27] achimha commented on #45
Implemented and documented as part of my latest PR.

[2017-02-14 10:27] #45 closed

[2017-02-15 09:45] achimha commented on #44
Couldn't get to the `ol` package to work from TypeScript.

https://github.com/openlayers/openlayers/issues/6496

[2017-02-15 12:22] achimha commented on #35
Suggest to close this ticket, my latest PR contains the fix for this issue.

[2017-02-16 15:56] quentinlampin commented on #35
great, thanks!

[2017-02-16 15:56] #35 closed

[2017-02-16 15:57] quentinlampin commented on #33
closing this issue since the discussion is located at #36

[2017-02-16 15:57] #33 closed

[2017-02-22 15:03] FallenRiteMonk opened #47 "Unable to remove default controlls"
Hy,

there is currently no possibility to remove the default controls added to a map or change there options, or at least I didn't find a way to do it.
I found the DefaultControlComponent, but it's inputs do not affect the component in any way! Is there some code missing or am I overseeing something.

[2017-02-23 13:23] achimha commented on #47
Yes, I think that is a bug. The [documentation](http://openlayers.org/en/latest/apidoc/ol.Map.html) states:

As we have a separate directive for the default components, we should explicitly set the member to an empty collection.

[2017-02-23 14:49] achimha commented on #47
Created a PR: https://github.com/quentin-ol/angular2-openlayers/pull/49

[2017-02-24 14:30] quentin-ol commented on #47
Thanks, nice work!

[2017-02-24 14:30] #47 closed

[2017-02-28 14:14] FallenRiteMonk opened #51 "Animation support"
This is just one of my ideas, but I think we could discuss about it.

I thought about creating a animation class with all the required inputs that then could be passes to a view in one of the following ways (we could choose one or implement even both):
 * have a default animation as input on a view, which is used used once the x and/or y input change (mainly for re centering the view)
 * have a ge

[2017-02-28 15:47] FallenRiteMonk opened #52 "Double viewport issue"
Having the following map on my site:
[code]

I have the situation that upon a fresh load of the site everything is perfectly fine, only if I then navigate to a different page and then go back, my map has two view ports:
[code]

Is this a bug due to something not being destroyed correctly or am I doing something wrong?

[2017-03-02 17:02] FallenRiteMonk commented on #52
It seems that has something to do with my location being loaded by a service. Adding ```*ngIf="location"``` to the map component solved my problem, but still I'd like to understand what is going on here, as I use the exact same structured map, with the only difference being a static center point and instead of one flag for a location, it is a list of locations.

The strange thing is that one of th

[2017-03-10 15:24] DominikTrenz commented on #5
It's not fixed for me, ngAfterViewInit isn't called in my case (flex layout). ngAfterViewChecked does work fine.

[2017-03-13 13:23] quentin-ol commented on #52
Hey @FallenRiteMonk, any news on this ?
I'm trying to reproduce this behavior to no avail.

[2017-03-13 14:24] FallenRiteMonk commented on #52
I'll try to reproduce it with a minimal example once I find the time for it!

[2017-03-13 14:28] quentin-ol commented on #52
Great! Thanks!

[2017-03-13 14:50] quentin-ol commented on #12
closing this for now. Please re-open if there is anything new.

[2017-03-13 14:50] #12 closed

[2017-03-13 14:51] quentin-ol commented on #27
Closing as solution 2 is implemented and no objection has been raised.

[2017-03-13 14:51] #27 closed

[2017-03-22 10:16] FallenRiteMonk opened #55 "Error when upgrading to @angular/cli rc.4"
I tried updating my project to cli's rc.4 bet I get the following errors:
[code]
This continues for all the modules of the lib I use.
Installing openlayer types (```npm install --save-dev @types/openlayers```) results in the following error:
[code]
no matter if I install version 4.0.1 or 3.20.5.

Reverting to rc.2 (there was no rc.3) fixes the problem!
Any ideas what could be the problem here?

[2017-03-22 10:58] FallenRiteMonk opened #56 "Attribution positioning error"
Adding the attribution to the map results in the attribution being positioned totally wrong!

I have a router outlet with a static height of 350px (content overflow auto) and then have a route containing the following:
[code]

The wrapper also has a height of 200px, so the map should not be any higher than 200px, which it issn't only that if I add <aol-control-attribution ></aol-control-attributio

[2017-03-24 09:38] quentin-ol commented on #55
Hmm, weird.
Just in case, could you explicitly install openlayers as a dependency  of your project:
[code]
By the way, with the recent release of openlayers 4.x ( not yet supported, see #44), could you check which version is installed and report.

Thanks

[2017-03-24 09:44] FallenRiteMonk commented on #55
I have done that already, but it doesn't change a thing. I tried it wit version 3.20.5 and 4.0.1

[2017-03-24 09:44] quentin-ol commented on #56
Could you provide a simple example that reproduces this?

Using chrome/firefox developers tools, could you show us the computed styles for this. I might be a css rule that is overruled. Remember that for now, we provide the `openlayer.css` independently of our components (#8) so we don't benefit from angular2 prefixing (which could prevent such behaviours).

[2017-03-30 22:24] lautarobock opened #58 "Build fail with angular-cli 1.0"
I have no problem with angular-cli@beta, but after update to 1.0 I cant bui;d.
Here a repo with a project that reproduce
https://github.com/lautarobock/angular2-openlayers-bug

[code]
and more, please see in https://github.com/lautarobock/angular2-openlayers-bug/blob/master/README.md

[2017-03-31 11:31] SemVC7 opened #59 "How does <aol-source-tilewms> works?"
Can you please provide me an example of the aol-source-tilewms implementation?

Thanks in advance!

[2017-03-31 12:05] lautarobock commented on #58
Responding to myself,
[code]

[2017-03-31 12:05] #58 closed

[2017-03-31 22:35] quentin-ol commented on #55
Is it still relevant? #58 reports that everything runs fine on beta and supposedly on 1.0  since the issue has been closed by the author.

[2017-03-31 22:38] quentin-ol commented on #56
@FallenRiteMonk do you have news on this? I can't do much to help you as I can't reproduce it.

[2017-04-02 15:26] quentin-ol commented on #58
'''npm install''' without argument install all dependencies, including those listed as devDependencies. I've looked at '''package.json''' and it does list '''@types/openlayers'''. Weird that you had to manually issue an '''npm install''' command.

[2017-04-02 18:36] quentin-ol commented on #52
Is it still occuring or should we close this issue?

[2017-04-02 19:33] lautarobock commented on #58
sorry, when I sayd "responding to me" and closing the issue I mean that is solved :)

[2017-04-06 02:42] billfarmakis commented on #59
No problem, using the Open Layers example for Tiled WMS https://openlayers.org/en/latest/examples/wms-tiled.html

<aol-layer-tile>
  <aol-source-tilewms [url]="'https://ahocevar.com/geoserver/wms'" [params]="{'LAYERS': 'topp:states', 'TILED': true}" [serverType]="'geoserver'"></aol-source-tilewms>
</aol-layer-tile>

[2017-04-06 08:26] quentin-ol commented on #59
Thanks, @billfarmakis.

[2017-04-06 08:26] #59 closed

[2017-04-06 08:26] quentin-ol commented on #55
Closing for now, please reopen if this issue still occurs.

[2017-04-06 08:26] #55 closed

[2017-04-06 08:27] #52 closed

[2017-04-06 08:27] #56 closed

[2017-04-06 08:34] quentin-ol commented on #58
Hey @lautarobock, the thing is the way you solved the issue should not make a difference, actually.
the ```npm install``` command should have installed this package already. The command that you report as solution is redundant, hence my comment.
Anyways, as you said, it's solved, so great! Happy coding with angular2-openlayers!

[2017-04-06 12:07] lautarobock commented on #58
hey @quentin-ol doing `npm install angular2-openlayers` should install `openlayers` and `@types/openlayers' too?
not in my case

[2017-04-11 03:19] bagasprakarso opened #60 "No provider for SourceVectorComponent"
When i try implementing this code

[code]

i've got this error

Can you guys help me about it?

Thanks

[2017-04-11 06:25] quentinlampin commented on #60
Hey,
'''aol-features''' must be inserted in an '''aol-source-vector''' which itself is in a '''aol-layer-vector'''.
Have fun with angular2-openlayers

Quentin
-------- Message d'origine --------De : bagasprakarso <notifications@github.com> Date : 11/04/2017  05:19  (GMT+01:00) À : quentin-ol/angular2-openlayers <angular2-openlayers@noreply.github.com> Cc : Subscribed <subscribed@noreply.github.com

[2017-04-11 08:04] bagasprakarso commented on #60
Ok Thanks Quentin 👍

[2017-04-11 08:04] #60 closed

[2017-04-11 11:07] bagasprakarso opened #61 "Clustered Features"
Hi Quentin,

Is Clustered Features like [http://openlayers.org/en/latest/examples/cluster.html](url) not include in this library?

cause when i'm implementing it using this code

`
    <aol-layer-vector>
        <aol-source-cluster>`

i've got

'aol-source-cluster' is not a known element:

Thanks

[2017-04-12 08:52] achimha commented on #61
Only a subset of OL4 is implemented. It's usually trivial to add things, just create a component and map all properties.

[2017-05-05 06:06] achimha opened #66 "zone.js / change detection issue"
I noticed very high CPU usage with VectorTile layers due to constant change detection.

It seems like change detection is triggered by high frequency timers that OL is running which run inside Angular's zone.js context and trigger change detection.

I have to do a more detailed analysis but I believe we have to make sure OL runs outside of Angular's zone and does not get affected by zone.js's monk

[2017-05-15 14:31] boom235 commented on #58
@quentin-ol  I just had the exact same problem. After installing angular2-openlayers via npm I had to install openlayers (not sure if this helped solving the problem) and @types/openlayers. The last install of @types/openlayers definently solved the problem.

[2017-05-24 11:40] xtarx opened #68 "WMS example"
Hello, thanks so much for the wonderful effort

I have 3 questions:

1. Can you publish the latest release to NPM as the release on NPM is (0.6.5)
2. Can you provide a WMS example
3. Do you have a map/layer switcher in plan?

Thanks again :+1:

[2017-05-24 13:31] quentin-ol commented on #66
@achimha update: got someone working on it at work.

[2017-05-24 13:34] quentin-ol commented on #68
npm is now up-to-date.

I'm not using WMS so I can't help you on this but Openlayers own examples usually translate quite easily to angular2-openlayers.

Leaving this open:  if anyone reading this has an example at hand, feel free to share. This would also be a great addition to the documentation.

[2017-05-24 13:36] quentin-ol commented on #51
closing this for now, please resurrect it if need be.

[2017-05-24 13:36] #51 closed

[2017-05-24 13:46] xtarx commented on #68
@quentin-ol  thank you so much for the quick response, I'll give it a try and will add it to documentation :+1:

[2017-05-24 13:48] quentin-ol commented on #68
btw, #59 might be useful.

[2017-06-06 10:00] xtarx opened #69 "Move map with mouse or touch"
The map doesn't works fine, but it doesn't allow user to control it by mouse or a touch event

as seen [here  ](http://i.imgur.com/2C2vQ5N.gifv)

as the same behavior [here ](https://developers.google.com/maps/documentation/embed/guide)for example

[GoogleMaps Pan](http://i.imgur.com/v1HLQFd.gifv)

Code used:
[code]

is there any control I need to add to have the behavior specified above?

[2017-06-06 10:02] xtarx opened #70 "Exit Full screen keeps map view expanded"
Hello. I am using this code, full screen works but when you exit full screen the map div expands and take more space than it used to be before full screen

[code]

[2017-06-06 15:53] quentin-ol commented on #70
@xtarx
The ```aol-map```template is:
[code]

```width```and ```height``` default to ```100%```.

Therefore, the expected behaviour is that the map fills the parent container if not in fullscreen.
Isn't it what you get?

BTW, it's very difficult to help you on this if you don't provide a minimal example and/or CSS computed styles and screenshots. Indeed, such behaviours may results from inherited C

[2017-06-06 15:57] quentin-ol commented on #69
Could you provide more information on this, i.e. what is the behaviour you're observing, what was expected and if possible a minimal example that shows the issue.

I have an angular app that I'm using on my smartphone and it works as expected: pinches zoom the map, strokes pan the map, etc.

[2017-06-06 15:59] quentin-ol commented on #68
While I'm at reviewing open issues, is this still an issue?
To my understanding, issue #59 provides a solution to making WMS source/tiles work.
Isn't it?

[2017-06-06 17:03] xtarx commented on #69
@quentin-ol  thank you for your response,I have updated the question. Hope it is more clear now :)

[2017-06-06 17:04] xtarx commented on #68
Yea it is very helpful.. thanks I will close it

[2017-06-06 17:04] #68 closed

[2017-06-06 19:44] lautarobock commented on #69
The same is happen to me. I'm trying with your own example [here](https://github.com/quentin-ol/angular2-openlayers/tree/master/example)

package.json
[code]

[2017-06-06 20:10] lautarobock opened #71 "Missing features"
I cant find the way to move the map with the mouse and to zoom in/out dragging mouse wheel.
Are these features availables?

Thanks

[2017-06-06 21:39] quentin-ol commented on #69
The example is the simplest map you could get, i.e no interaction and a simple feature (for a "find us" page). If you want to add interactions to the maps and unless you have specific needs, you should add an aol-interaction-default to the map, _e.g._ (adding interactions to example):
[code]

[2017-06-06 21:39] #69 closed

[2017-06-06 21:40] quentin-ol commented on #71
duplicate of #69.

And yes, these are available.

[2017-06-06 21:40] #71 closed

[2017-06-06 21:47] quentin-ol opened #72 "[documentation] Interactions"
The documentation is lacking on interactions, especially default interactions, which developers not familiar with Openlayers will want.

We might also add default interactions to the example as it seems to be popular source of issues.

[2017-06-07 11:59] xtarx commented on #69
Thanks that was the missing piece  `	<aol-interaction-default></aol-interaction-default>
`

[2017-06-08 15:38] lautarobock commented on #72
Is there at least a brief list of all different tags or components?

[2017-06-08 15:53] lautarobock commented on #69
it could be possible that event `moveend` do not work?

[2017-06-08 15:56] lautarobock commented on #69
Searching into the sourcecode I found that the event name is `onMoveEnd`,

[2017-06-08 17:00] lautarobock opened #74 "Minimized object in events"
Is possible to get not minimized version of object in events?

Now if I want to listen onMoveEnd event I get an object with not real names of attributes. It has a minified version. Is not easy to use, and in the end the names depends of the minification process

[2017-06-08 19:08] lautarobock commented on #74
Solved, I have to use the types (for the records)
[code]

[2017-06-08 19:08] #74 closed

[2017-06-09 14:52] quentin-ol commented on #72
There is the documentation located in ```/documentation```. The documentation is quite extensive on Components/tags that are already in there. Feel free to contribute to it.

[2017-06-12 10:58] xtarx commented on #70
yea, I solved it  by over-riding the div CSS

The problem is as you mentioned the div by default takes 100% of width & height

Steps to fix:

1. restrict height to a fixed pixels for example `250px`
2. Add a class for the` <aol-map>` in my case I called it `map`
3. over-ride the class height when in Full-screen mode

* make sure that you added the ol.css from the openlayers library, otherwise the

[2017-06-12 10:58] #70 closed

[2017-06-20 12:53] lautarobock opened #75 "Render Shapefile"
Is possible to render a shapefile?

[2017-06-29 23:10] mattnumbereight opened #78 "When bring the SRC code into a project, 404 errors occcur when running in chrome."
Hi,

I am new to angular 2 so this is properly something I have done incorrectly.

I put the code in the SRC folders into the a new project, I installed OpenLayers 3 and I thought I had done all correctly, however when I run the code I get the following error.

zone.js:2019 GET http://localhost:1985/app/angular2-openlayers/components/layers.js 404 (Not Found)

(angular2-openlayers is the SRC versi

[2017-07-12 07:11] giridharkl opened #79 "Unable to install npm package"
C:\MProjects\MGMT\modules\taskmgmt>npm install angular2-openlayers --save
npm ERR! path C:\MProjects\MGMT\modules\taskmgmt\https:\registry.npmjs.org\tapable\-\tapable-0.2.6.tgz
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall stat
npm ERR! enoent ENOENT: no such file or directory, stat 'C:\MProjects\MGMT\modules\taskmgmt\https:\registry.npmjs.org\tapable\-\tapable-0.2.6.tgz'
npm ERR! eno

[2017-07-12 07:31] quentin-ol commented on #78
Hmm, this isn't the "angular" way of doing things. You could check angular-cli to help you get started:
https://github.com/angular/angular-cli#usage

[2017-07-12 07:33] quentin-ol commented on #79
The error complains about tapable. Nothing to do with angular2-openlayers. Closing.

[2017-07-12 07:33] #79 closed

[2017-07-12 07:34] quentin-ol commented on #75
Hmmm, I haven't done that myself. Again, as @achimha explained quite nicely, angular2-openlayers is a thin layer (pun intended) on top of angular. Quite easy to achieve in most cases.

[2017-07-12 07:34] #75 closed

[2017-07-12 07:37] #78 closed

[2017-07-12 10:59] giridharkl opened #80 "Example code for initialization and setup"
Hi,
I went through the documentation from readme.md file. However the examples do not show basic initialization part on the component side. Could it be possible to give a example as how to adopt this in Anguar2 project.
Thanks in advance
Giridhar

[2017-07-12 11:04] quentin-ol commented on #80
there is an example in `example/`.
The example is a simple, yet complete, angular2 app using angular2-openlayers.

[2017-07-12 11:04] #80 closed

[2017-07-12 11:11] giridharkl opened #81 "Failed to compile."
<project_folder>/node_modules/angular2-openlayers/dist/components/controls/attribution.component.d.ts (1,1): Cannot find type definition file for 'openlayers'.

Please help!

After installing @types/openlayers it compiles!
Thanks

[2017-07-12 23:39] mattnumbereight commented on #78
HI Thanks for your response.

I got the angular maps working, the issue was,

The following code made angular think that /formats was a component, when angular cannot find a component that doesn’t exist it looks for it in a url (hence 404)

import { FormatComponent } from '../formats;

I just modified instances like these to use the full paths.

import { FormatComponent } from '../formats/format.c

[2017-07-13 02:53] rbrcurtis commented on #81
I'm getting the same thing.

[2017-07-13 07:29] quentin-ol commented on #81
Could you provide how you get this, i.e. what steps are needed to reproduce this error.
Thanks,

Quentin

[2017-07-14 12:52] giridharkl opened #82 "Changing Map Co-ordinates"
Hello
I was trying to dynamically load lon and lat from two input boxes and draw the map on a div. However with default values I could draw the map. But when I change the input box values the map does not center to the new lon lat values. Due to lack of any good example I am struggling to achieve this. Could you please show us any example. I have gone through the example in the code.

Thanks
Girid

[2017-07-22 10:06] pieterdb4477 commented on #81
I have the same problem. Reproducing it can be done with a new angular project generated by angular-cli, installing OL with npm and then ng serve.

Angular cli version: 1.2.3
npm version: 5.3.0
node version: 6.10.2
angular version: ^4.0.0

[2017-07-23 10:04] pieterdb4477 commented on #58
This also solves my problem mentioned in #81

[2017-07-28 21:15] ctxdl opened #83 "Problem with instalation"
Hello  i have this problem when installing and initiation the component

localhost/:3000 Error: Fetch error: 404 Not Found
  Instantiating http://localhost:3000/angular2-openlayers
  Loading http://localhost:3000/app/mobile-content/mobile-content.module.js
  Loading http://localhost:3000/app/app.module.js
  Loading http://localhost:3000/app/main.js
  Loading app
    at fetch.js:37
    at ZoneDeleg

[2017-08-01 11:57] mirooit opened #84 "capture click event on <aol-feature> or markers"
is there a way to capture on click event on a marker on the map. My goal is to be able to show a pop-up once a marker is being clicked on the map. I added (click) on the feature, `<aol-geometry-point>` and  `<aol-style-icon>` with no luck

This is what I would like to achieve as in the [picture here](https://i.stack.imgur.com/eQpGF.png)  once I click on marker the popup should be displayed

[code]

[2017-08-01 12:46] quentin-ol commented on #83
Could you describe how you end up with this error?
A 404 error is a HTTP code that your HTTP server returns the resource you're asking is not available, e.g., requiring page `http://localhost:3000/page-that-does-not-exist.html`

[2017-08-01 13:30] quentin-ol commented on #84
Hey, yes there is a way and it's very similar to how you would do it using Openlayers (stand-alone).

In your view:
[code]

In your controller:
[code]

This example might be rough around the edge (copy-pasted/redacted it from an app I've down) but it should show you how to achieve this.

[2017-08-01 13:30] #84 closed

[2017-08-05 16:48] paulfournel commented on #55
Btw, i have the same issue
[code]

[2017-08-08 02:36] mobiyan opened #85 "core.es5.js:1084 ERROR Error: Uncaught (in promise): Error: Template parse errors: 'aol-map' is not a known element"
Using Angular 4, am I missing something? The install didn't produce any errors.
Only using the basic example.

import {AngularOpenlayersModule} from 'angular2-openlayers';

@NgModule({
  imports: [
    BrowserModule,
    AppRoutingModule,
    FormsModule,
    HttpModule,
    BsDropdownModule.forRoot(),
    TabsModule.forRoot(),
    ChartsModule,
    FormWizardModule,
    AngularOpenlayersModule,

[2017-08-08 03:15] #85 closed

[2017-08-09 12:04] davinkevin opened #90 "Creation of a gitter chat"
Only the owner of the project can create the gitter chat we talk about earlier today.

You have to join gitter at the following URL : https://gitter.im (with your github credentials)

And to create a room in it with the button `Add a room`
![image](https://user-images.githubusercontent.com/1970922/29120580-3eb28b94-7d0b-11e7-94ce-f79d2534e1bc.png)

Then choose the angular2-openlayers project. A PR

[2017-08-09 12:25] quentin-ol commented on #90
[https://gitter.im/angular2-openlayers](https://gitter.im/angular2-openlayers) is now live!
Badge & Getting Help section now available in `README.md` (https://github.com/quentin-ol/angular2-openlayers/commit/4484aefec026c55ddb1247d071a9ce2b17e428be).

[2017-08-09 12:25] #90 closed

[2017-08-09 12:32] quentin-ol commented on #81
Solution #58 merged in https://github.com/quentin-ol/angular2-openlayers/commit/39b4e83a56558a4545741b984fcd31f9524e0674.

#89 added a Travis build that ensures the example is working. Thanks again to @Neonox31 and his pals for this.

[2017-08-09 12:32] #81 closed

[2017-08-09 17:39] Neonox31 commented on #81
Anytime :) Glad it helped

[2017-08-22 12:28] quentin-ol opened #92 "NPM package name"
Hello everyone,

Since Angular has moved to 4.x versions and since we are already those, would it make sense to name the package angular4-openlayers?
To my understanding, this raises a few concerns:
 - same package under 2 different names
 - devs still using angular2 might think this lib is not for them
Opinions ?

[2017-08-22 12:33] achimha commented on #92
A very welcome move.

However, I would suggest `ngx-openlayers`. The term "ngx" is commonly used for Angular 2+. The changes from Angular 2 to Angular 4 are minor and the changes from Angular 4 to Angular 5 (due out in September) will be minor as well. Wouldn't make sense to change the package name again because of Angular 5.

[2017-08-22 12:39] quentin-ol commented on #92
@achimha Thanks for your feedback.
I'm also in favour of moving to `ngx-openlayers`. Obviously, this would require a few changes, let's try to sum that up in here and see how that would affect people using it:

- rename the git repository
- rename the package in `package.json`
- publish a new npm package
- rename/change the gitter channel.
- change all occurrences of angular2-openlayers in the doc

[2017-08-22 12:43] achimha commented on #92
I've had 4 other packages that I use in my enterprise application change from angular2-x to something else.  The old packages still remain in npm so people can choose to upgrade when they like.

In the Angular ecosystem it is accepted to break things from time to time -- Angular itself comes with incompatible changes every couple of months.

[2017-08-22 12:47] quentin-ol commented on #92
@achimha I agree.

Leaving this open until the end of the week so that others may chime in.
If we reach a consensus towards renaming then we'll do it.

[2017-08-22 13:17] davinkevin commented on #92
It's OK for us, we already think about the naming problem due to the version of angular, and `ngx-openlayers` and `angular-openlayers` was proposed internally.

Right now, this doesn't have any impact in our code, our main task is to implement what we need in the library.

[2017-08-22 15:04] quentin-ol commented on #92
alright, let's proceed then.

[2017-08-22 16:28] quentin-ol commented on #92
renaming is on-going. Things might break in the meantime.

[2017-08-22 16:36] quentin-ol commented on #92
Renaming is done, the npm package is live and the travis build passes.
Still need to deprecate the previous package in npm and we can close this issue.

[2017-08-22 16:37] davinkevin commented on #92
Welcome to ngx-openlayers 🎉

[2017-08-22 16:38] Neonox31 commented on #92
Great ! 🎆

[2017-08-23 04:30] greggguru commented on #61
If no one else is already working on adding clusters, I will do it.

Happy with the new project name too, fits great.

[2017-08-23 10:57] quentin-ol commented on #61
@greggguru AFAIK, no one is publicly working on this right now. Would be greatly appreciated though!

[2017-08-23 14:06] vetemi opened #93 "Handle Click on features"
I have a question; though I'm not sure if I'm right here but I hope you can help me anyways.

I'm very new to both Angular and Openlayers. My goal is to detect the event when an user clicks on one of a bunch of generated features (with markers on map) in order to display the details of the clicked feature. My app is basically like the example of this project and I'd like to have something like thi

[2017-08-23 14:14] quentin-ol commented on #93
Issue #84 answer is exactly what you're looking for. Could you provide a PR that adds this piece of info in the documentation? We'd be very grateful!

[2017-08-23 14:14] #93 closed

[2017-08-24 12:56] quentin-ol commented on #83
Closing this. No more activity/other reports of this since 23days

[2017-08-24 12:56] #83 closed

[2017-09-01 13:17] vetemi commented on #93
We are creating an open source map application which uses most of the features provided by this awesome library. Once we're done, I'll definitely add some insights to documentation or example.

[2017-09-01 13:31] vetemi opened #95 "Change interactively the feature marker label:"help wanted""
Hello,

I have a question regarding the possibility to change the style of feature marker on click (basically stress out a clicked marker). I created the following piece of code:

[code]

_clickedStyle_ is a member variable with a predefined style. So, this is working fine but, of course, once I click on another feature the style of a previously clicked feature will stay as defined in _clickedStyl

[2017-09-16 12:31] greggguru commented on #61
Ack, best intention to get this done quickly has failed. I'm sorry. I still would like to implement this feature. Let's see what this weekend will allow me to complete.

[2017-09-20 07:25] davinkevin opened #96 "test(module): provide a testing module"
This issue is an open discussion about the need of a dedicated TestingModule for `ngx-openlayers`.

In our case, when we want to test a component which should hold a openlayers map, we import the `AngularOpenlayersModule`, but it trigger a lot of undesirable things like XMLHttpRequest (we don't want to have external request during our unit tests), and some strange behavior about the component whic

[2017-09-21 15:02] quentin-ol commented on #96
Hey @davinkevin, @Yakoust, @Neonox31,

Following our hangouts conversation:

You raise very good questions which I'd like to summarize here:
-  how can we test the library's components
-  how can we test a composition of this library's components from the perspective of a user application (without pulling all of Openlayers dependencies)

On the first point, my opinion is that we should not try to

[2017-09-21 15:06] quentin-ol commented on #95
Hey @vetemi, sorry for the delay, times are kinda busy right now.
To answer your question, and as said in the docs, there is an open issue in OpenLayers about this (https://github.com/openlayers/openlayers/issues/5775). Right now, changes in style components are not applied.

[2017-09-22 14:14] xtarx opened #97 "Caching WMS Tiles"
Is there anyway provided  to cache the tiles instead of being re-loaded on every page visit?

[2017-09-25 18:54] jeremieca opened #98 "Get all features."
Hello,

After map loaded, I would like to iterate over all features to make some change. For instance, change opacity (style) of some Feature polygons after a few seconds.

Where can I find a list of all Features ?

Thanks !

[2017-09-26 08:13] pmeems opened #99 "Setting minResolution and maxResolution prevents showing layer"
When I have this `<aol-layer-tile [visible]="true">` around my `<aol-source-tilewmts ... >` the layer is shown.
But when I add minResolution and maxResolution:  `<aol-layer-tile [visible]="true" [minResolution]=2000 [maxResolution]=20000>`  the layer is not shown at all, although the resolutions seem OK.

Am I not writing it correctly or are these properties not implemented.

[2017-09-26 08:18] pmeems opened #100 "ol.layer.Group not implemented?"
I'm trying to create 3 layer groups. One with baselayers, one with theme layers and one with data layers.
These groups I want to use to create a simple layer control: 3 pulldown menus which each list their layers so I can set the visibility and opacity.

I can't find `<aol-layer-group [name]="'Baselayers'" >` or similar.
Isn't this implemented or am I missing something?

[2017-09-26 10:31] quentin-ol commented on #97
If there is a way, it's within OpenLayers itself. ngx-openlayers is just a collection of thin wraps (components) around OpenLayers objects. You might want to take a look at their documentation and see if there is anything that might you.

In short, no, ngx-openlayers does not cache WMS tiles.

[2017-09-26 10:31] #97 closed

[2017-09-26 10:40] quentin-ol commented on #98
How do you create your features. The intended use is to add the feature using the aol-feature component like this:
[code]
If used in this way, features are mapped to the markers list. If you need to change a feature coordinate, change the datum that the feature is mapped to, i.e. `markers[0].x = myNewXCoordinate`. The same principle can be applied to styles, though, you have to know that an issue

[2017-09-26 10:51] quentin-ol commented on #99
Careful with cases in AngularX, input properties are written using the camelCase in `ts/js` code; i.e. in the component declaration; and using kebab-case in the view `html`.

the correct inputs would be `[min-resolution]` and `[max-resolution]`.

[2017-09-26 10:51] #99 closed

[2017-09-26 10:52] quentin-ol commented on #100
not yet.
A PR would be welcome though!

[2017-10-03 10:05] jeremieca commented on #98
Ok perfect. Thanks. I misunderstood the doc. :)

[2017-10-03 10:05] #98 closed

[2017-10-05 17:14] j-nord commented on #84
All example doesn't work. The click event works not under Angular 4.3!

[2017-10-06 07:23] j-nord opened #105 "aol-feature click event doesn't work."
The click-event in aol-feature doesn't work:

<aol-feature #feature *ngFor="let e of tabelleErgebnis; let i = index" (click)="clickKarte(e)" [id]="i">

The onClick-event in aol-map also doesn't work.

Version: "ngx-openlayers": "0.6.10"
Angular Version: 4.4.3

    <aol-map #Karte width="100%" height="100%" (onClick)="clickMap($event)">

        <aol-interaction-default></aol-interaction-default>

[2017-10-09 15:32] quentin-ol commented on #105
We'll need more information to help you with this. Could you provide a minimal example that reproduces the bug? Right now, I can't test based on your code as I don't have access to your source.

[2017-10-10 17:27] akkumar opened #106 "compatibility with openlayers 4.4.x"
Currently - package.json dependency reads as follows:

`"openlayers": "4.0.x || 4.1.x"`

The latest release of openlayers - according to npmjs - [https://www.npmjs.com/package/openlayers](https://www.npmjs.com/package/openlayers) is 4.4.1 .

Wondering if there is/are any known issue(s) preventing an upgradation of the same ?

[2017-10-11 13:42] seidlt commented on #105
The onClick events also do not work for me. However, the problem occurs only on some Android Smartphones. So I tried it with the example code of this repository and added the `onClick` to the `aol-map`:

    <aol-map` [width]="'100%'" [height]="'100%'" (onClick)="handleEvent($event)">

But the handleEvent `method` is only called 1 out of 100 tries...
On iOS and on a Desktop is works.

[2017-10-11 20:08] ognjenmarcheta opened #107 "how can i access buffer?"
i want to buffer layers outside of view? any idea?

[2017-10-12 07:34] quentin-ol commented on #107
If I understand well, you want to "load" a layer without displaying it, right ?
One way to achieve this is to set the opacity of the layer to 0. It's still rendered but it won't show up. Obviously, this isn't side-effects free, .e.g. features of that layers can be clicked, etc.

[2017-10-12 07:45] quentin-ol commented on #105
My understanding is that the issue doesn't lie in this library but in OpenLayers itself. Since we're a few minor versions behind OpenLayers (see #106), it might be a good idea to test with Openlayers 4.4.x  and see if it fixes the issue: https://github.com/openlayers/openlayers/issues/6824 reports the same kind of error and 4.2 is reported to fix it.

[2017-10-12 07:46] quentin-ol commented on #105
anyone willing to help on this?

[2017-10-12 07:46] quentin-ol commented on #82
closing this. Please reopen if needed.

[2017-10-12 07:46] #82 closed

[2017-10-12 07:47] #92 closed

[2017-10-12 09:26] ognjenmarcheta commented on #107
Actually i found solution for this. And it's described even in their official examples:
https://openlayers.org/en/latest/examples/preload.html

[2017-10-12 09:26] #107 closed

[2017-10-12 11:37] seidlt commented on #105
I tried it with openlayers 4.4.1 and it worked!
So you are right, this it not a issue with this library.

[2017-10-14 06:05] Phreeman703 opened #108 "Angular Universal and openlayers"
I have a Angular 4 Universal app and i use openlayers. If i run app with client-side app work, but if i try run app with server side render, i caught an exception "windows is not define".

[2017-10-17 10:01] seidlt commented on #106
I am working with version 4.4.1 for a while now and I had no issues. However, I did no extensive testing specific for the version upgrade. But I would appreciate to upgrade to 4.4.1 since issue #105 seems to be solved with the new version.

[2017-10-17 11:18] quentin-ol commented on #106
I've pushed a new version that depends on Openlayers 4.4.x.
Thanks everyone for the feedback!

[2017-10-17 11:18] #106 closed

[2017-10-17 11:21] quentin-ol commented on #108
I'm sure to fully understand what you're trying to achieve. Could you be more specific?
What do you mean by server-side rendering. AFAIK Openlayers is a client side library, i.e. meant to run in a browser, electron, etc.

[2017-10-17 11:22] quentin-ol commented on #105
Should be solved with the latest package: 0.7.11. Can you confirm?

[2017-10-18 02:13] Phreeman703 commented on #108
I mean [Angular Universal](https://universal.angular.io)/. If I run app through angular-cli (ng serve), app is build and run. But if i trying to run Angular Universal show exception "window is not define", because openlayers use window(or document) for rendering map, but Angular Universal doesn't allow use widow(or document)

[2017-10-18 06:56] seidlt commented on #105
Yes I can confirm. Its works how it should - Thank you.

[2017-10-18 07:35] #105 closed

[2017-10-18 07:47] quentin-ol commented on #108
Thanks for the information. I suggest you submit an issue in the Openlayers repo then (since the exception occurs in their code). Regarding this, I'm also in favour of letting the developer provide a replacement image in such case, i.e. if the map cannot be instantiated, provide a static image in place of the map. This could be done that way:
[code]
That should allow for server side rendering.
Opi

[2017-10-24 17:21] Goonersid opened #117 "Vector Layer and Geojson format - wrapX"
Hi,
I would like to render a geojson map with wrapX set to true. The component currently does not seem to support wrapX for geojson source.. What is supported is vector layer -> vector source with geojson as a format, where theoretically wrap x could work.. How do i do this?

[2017-10-25 14:43] pmeems opened #118 "How to use Proj4 and Transform?"
After installing this component I am accessing the ol object directly. This is working great. I can now use layer groups as well (see my other question).
I now need to transform a point from epsg:3857 to my custom projection. Using ol.proj.transform it's not working. I can transform a point from 3857 to 4326. I'm assuming I need to create a proper proj.projection but I'm struggling with this part.

[2017-10-26 05:13] Phreeman703 commented on #108
I'm trying to insert a static picture, but I throw an error:

[code]

[2017-10-26 17:14] sughodke opened #119 "Missing marker.png file in Demo App"
The demo app references marker.png in the assets folder, however its not checked in.  I think someone just forgot to do a git add.

https://github.com/quentin-ol/ngx-openlayers/blob/master/example/src/app/app.component.html#L27

[2017-10-27 07:43] quentin-ol commented on #119
Hey @sughodke, thanks for catching this. Fixed in 6d4ece9380335b86841317ddce0e1787091f4651

[2017-10-27 07:43] #119 closed

[2017-10-27 07:54] quentin-ol commented on #118
Good questions!
So first, the ones that I can help you with.
- `ngx-openlayers` doesn't pull **proj4.js** as a dependency. It depends on openlayers, its typings and  @angular/animations (I forgot why. Might be interesting to remember!).
- `ngx-openlayers` `coordinates` components accepts any system of reference that Openlayers knows about and apply the appropriate projection to the system of refer

[2017-10-27 08:16] pmeems commented on #118
Thanks Quentin for your response.

I already add my projection to openlayers using:
[code]
This works fine and I send the projection code to my backend to get the data in the projection I need.
But when I switch projections I want to change the view center by transforming the current center to the new coordinates.

As mentioned I already installed the proj4 package, but can't get it to work.
I als

[2017-10-31 13:04] pmeems commented on #118
Answering my own question.

1. Install the proj4 package using npm
2. Add import to your file: import * as proj4x from 'proj4';
3. Define proj4 variable: const proj4 = (proj4x as any).default;
4. Add custom definition:  proj4.defs('EPSG:28992', '+proj=sterea ...); // https://epsg.io/28992.js:
5. Link proj4 to ol in your constructor: ol.proj.setProj4(proj4);
6. Now you can use: ol.proj.get('EPSG:28

[2017-10-31 13:04] #118 closed

[2017-10-31 15:20] Yakoust commented on #117
Hello,

In `SourceGeoJSONComponent` the property `@Input() wrapX: boolean;` can be added if you want to contribute.

As a workaround, you should be able to set the property to instance of the source:

[code]
[OL docs](https://openlayers.org/en/latest/apidoc/ol.source.Vector.html#set)

[2017-11-06 17:24] quentin-ol commented on #100
implemented in #120. Thanks @samuelgirard-cgi.

[2017-11-06 17:24] #100 closed

[2017-11-07 13:03] imbautista opened #121 "WMTS directive"
Hi there, I am trying to implement an Angular CLI application using ngx-openlayers and I need to include a custom WMTS basemap. I am using this code:
`<aol-source-tilewmts
          [url]="'http://localhost:8080/geoserver/gwc/service/wmts/'"
          [layer]="'panama:panama_basemap'"
          [matrixSet]="'EPSG:900913'"
          [format]="'image/png'">
        </aol-source-tilewmts>`
It is not

[2017-11-07 13:41] quentin-ol commented on #121
Hey, I suggest you visit the gitter and ask for help in there: https://gitter.im/ngx-openlayers/Lobby.
By the way, you will need to provide more information: the code that you show misses an <aol-map> component, a layer, etc.
I'm leaving this issue open as a question to allow others to help you on this but it's arguably not an issue.

[2017-11-07 15:38] Pitirus opened #122 "aol-geometry-linestring over International Date Line bug"
Hello,

I think I found a bug when using aol-geometry-linestring. When trying to create linestring over International Date Line it isn't drawn over it.

Here is a plunker: [https://embed.plnkr.co/C2Y5mb/](https://embed.plnkr.co/C2Y5mb/)

 I am not sure if it's only in this library or if it originates from OpenLayers API.

[2017-11-12 14:17] MSkraburski commented on #61
@greggguru are you working on it currently? Would be extremely grateful if you complete implementation of that feature. I highly need that to my Angular 4 app but unfortunately I am not capable of creating that feature on my own. Keep my fingers crossed.
Best regards,
Mikołaj

[2017-11-13 18:27] MSkraburski commented on #95
I am confused by kinda similar issue. Is it possible to get action onHover or onMouseOver ? I could not find one in docs. For example to display the coords of the marker below it?

[2017-11-14 16:42] MSkraburski opened #125 "How to prevent page scrolling while map zooming in/out with mouse scroll?"
As stated above. I would like to disable page scroll while mouse scrolling inside map div. Is there a way to do that?

[2017-11-16 17:13] vinicius8488 opened #127 "ViewChilld bind error"
Hi...
Have the following code:
`  @ViewChild('loteLayer') lote: ol.source.TileWMS;`
and in my component .html:
`     <aol-layer-tile >
                <aol-source-tilewms  #loteLayer [url]`

and in my component .ts have:
`  info(evt: MapBrowserEvent) {`
`var url = this.lote.getGetFeatureInfoUrl()...`
`}`

but when I try to use lote object in my component typescript I get the error:
ERROR TypeError

[2017-11-16 17:28] quentin-ol commented on #127
Very difficult to help you with such little info. Please provide an example that shows the issue you're describing. Thanks.

[2017-11-16 17:29] quentin-ol commented on #122
Sorry for the delay, I'm working on a deadline. I appreciate the effort you put in providing an example. Will definitely look into it.

[2017-11-16 17:31] quentin-ol commented on #122
Btw, what do you mean by drawn over it. If I run your example in Safari, I do see the dashed red linestring.

[2017-11-16 17:55] vinicius8488 commented on #127
Sorry... I used ol.source.TileWMS instead of   SourceTileWMSComponent

[2017-11-16 17:55] #127 closed

[2017-11-16 17:59] quentinlampin commented on #127
No worries!

-------- Message d'origine --------De : vinicius8488 <notifications@github.com> Date : 16/11/2017  18:55  (GMT+01:00) À : quentin-ol/ngx-openlayers <ngx-openlayers@noreply.github.com> Cc : Subscribed <subscribed@noreply.github.com> Objet : Re: [quentin-ol/ngx-openlayers] ViewChilld bind error (#127)
Sorry... I used ol.source.TileWMS instead of   SourceTileWMSComponent

—
You are recei

[2017-11-18 06:32] Prashanth-Thomas commented on #95
@MSkraburski  looking for a similar solution, a way to use onHover or onMouseOver. Any luck with it?

[2017-11-18 10:45] quentin-ol commented on #125
Hey MSkraburski, could you tell us which browser you're using ?

In safari/chrome, I don't get page scroll when I'm scrolling inside the map canvas.

Could you report if you have the same behaviour in this example :
https://openlayers.org/en/latest/examples/mousewheel-zoom.html

[2017-11-18 10:46] quentin-ol commented on #121
@imbautista Any update on this ? Btw, I've answered you on the gitter.

[2017-11-18 10:48] quentin-ol commented on #108
Hey @Phreeman703, the above code was a mock-up, a proposal on the way to let user achieve this.
The underlying implementation is not done yet. But that's definitely in the todo-list.

[2017-11-20 04:02] Phreeman703 commented on #108
oh... @quentin-ol, i wasn't understood that is mock-up(( I found the solution with window. In server.ts need mock-up global['window'] = win and use domino

`const domino = require('domino'),
      fs = require('fs'),
      path = require('path'),
      template = fs.readFileSync(path.join(__dirname, '.', 'dist', 'index.html')).toString(),
      win = domino.createWindow(template);

global['window'

[2017-11-20 14:47] Pitirus commented on #122
[https://imgur.com/a/wRZB4](This is what I can see), it goes around the globe. Instead it should go the shortest way which is over the International Date Line.

[2017-11-20 14:57] MSkraburski commented on #125
I checked it only in Chrome, since that's the main browser I use.

In sent example everything seems to work fine, no bugs or issues to report... Any ideas what might cause my problems?
Regards

[2017-11-22 10:13] quentin-ol commented on #122
@Pitirus Ok, I get the same behavior. I was confused as to what was expected.
The drawing of the line itself is handled by openlayers. ngx-openlayers is only feeding your linestring to openlayers. You might want to report to them instead

[2017-11-22 10:14] #122 closed

[2017-11-23 16:13] samuel-girard opened #130 "Integration of ol-cesium for 3D globe"
Hello,

In order to use OpenLayers and Cesium in the same application, we are working on making ngx-openlayers to be able to use another map library (ol-cesium in our case).
Here are the first changes that I have been testing:
[https://github.com/airbusgeo/ngx-openlayers/commit/abeb0f12d458ea5f5499eb5452ac65ecfcd1b8ce](https://github.com/airbusgeo/ngx-openlayers/commit/abeb0f12d458ea5f5499eb5452ac

[2017-11-27 18:32] Manokethan opened #133 "[View] Handle change:resolution and change:center"
I'am trying to implement change:center and change:resolution event in View Component ?

I'am new to Angular and Openlayers, i don't know what i did is correct. Can you review it please ? Is it correct ? Do i need to do anything else ? Thanks

`
@Output() onResolutionChange: EventEmitter<ObjectEvent>;
@Output() onCenterChange: EventEmitter<ObjectEvent>;

 constructor(private host: MapComponent) {

[2017-12-05 11:36] MaiHei opened #135 "Displaying GPX Data"
Hey,

i am trying to display gpx data in a layer, as in the example on the openlayers website.

My code for the layer looks like this:
[code]

This throws me the ol-errorcode 7, that says "format must be set when url is set". In the example format is set as ol.format.GPX().

I've searched a lot, but I haven't found any way to set this format. So is there any way to set format to GPX?

[2017-12-08 05:51] style-x7 opened #136 "Unable to create static image map"
**[Issue]**
Getting the following errors from chrome console (debug mode):
_"ERROR TypeError: Cannot read property 'getCode' of null
    at Object.ol.proj.getTransformFromProjections (ol.js:6170)
    at Object.ol.proj.getTransform (ol.js:6155)
    at Object.ol.proj.transform (ol.js:6251)"_

**[.ts file]**
`export class AppComponent {
    public zoom = 12;
    public opacity = 1.0;

    extent: [0,

[2017-12-08 10:29] vgossking commented on #135
you need to provide format, in this case is  ol.format.GPX()

`
import { format} from 'openlayers';
this.format = new format.GPX();
<aol-source-vector *ngIf="currentRoute.gpx"  [url]="currentRoute.gpx.path" [format]="format">
`

[2017-12-12 01:34] jamesdeantv commented on #130
Can you provide a repo?

[2017-12-12 11:15] davinkevin commented on #130
We will try to do our modification on https://github.com/airbusgeo/ngx-openlayers/tree/feat-ol-cesium

[2017-12-12 17:19] jamesdeantv commented on #130
Thanks @davinkevin Following along with the instructions above throws and error in my console.  It appears that cesium is not injecting into the openlayers component.  Any thoughts?

[code]

Here is the error I receive:

<img width="564" alt="screen shot 2017-12-12 at 12 13 29 pm" src="https://user-images.githubusercontent.com/16325635/33898333-14a4a14c-df36-11e7-99a1-17cc22b45f2a.png">

[2017-12-12 17:39] samuel-girard commented on #130
Hello,

OLCesium is in olcs module, which should be imported instead of ol. Try like this:
[code]
About your first question, I'm going to update soon (tomorrow?) the example project to have a ready-to-test code sample (I will tell you when it is).

[2017-12-12 18:06] jamesdeantv commented on #130
Hi Samuel, I completely overlooked the import module typo.  I recompiled the code, but the console threw an additional error.  These console logs are a bit vague...  And, thanks for the offer to update the example repo.

<img width="569" alt="screen shot 2017-12-12 at 1 02 08 pm" src="https://user-images.githubusercontent.com/16325635/33900527-b500cc78-df3c-11e7-8285-7a6abc0e8aba.png">

[2017-12-12 18:50] jamesdeantv commented on #130
I looked through the ol-cesium source and found the function in question.  However, it is not exactly clear what/where/if it needs to be defined.

[code]

[2017-12-13 21:20] samuel-girard commented on #130
Hello @jamesdeantv

I updated the example project. You can get it here: [https://github.com/airbusgeo/ngx-openlayers/tree/feat-ol-cesium](https://github.com/airbusgeo/ngx-openlayers/tree/feat-ol-cesium) (take the branch **feat-ol-cesium**, not master).
To run:

- from the example directory: `npm install`
- copy the content of _dist/_ inside _example/node_modules/ngx-openlayers/dist/_ (if anyone ha

[2017-12-13 21:40] jamesdeantv commented on #130
Thanks! Digging in...

[2017-12-14 01:40] jamesdeantv commented on #130
@samuel-girard Did you have success loading cesium into the repo you provided? I continue to receive the previous error I posted.  This is after removing openlayers from the node modules per your suggestion.

[2017-12-14 12:24] samuel-girard commented on #130
Hello James,
I cannot reproduce the error you got. I tried again from scratch on a different computer, and it works just fine.
Which browser did you try with?

[2017-12-14 17:09] jamesdeantv commented on #130
Hi @samuel-girard Ive created a repo which produces the error for me.  Hopefully, you can take a quick look at it and determine if there are any differences.  Thanks!  BTW, I am running safari 11 on the latest macOS.

[code]

[2017-12-14 20:07] jamesdeantv commented on #130
After cloning the feat-ol-cesium branch and running npm i & then npm start, I receive an error

[code]

My dev environment is as follows

[code]

Did you make any adjustments from the feat-ol-cesium branch?

[2017-12-14 20:40] samuel-girard commented on #130
I think you forgot one step:

This is needed as the version of ngx-openlayers updated to work with ol-cesium is not published on npmjs, so you need to do this step manually, after `npm install` and before `npm start`

[2017-12-15 05:22] jamesdeantv commented on #130
I've hit a bit of a snag. These are the steps I took to arrive at my error.

- Clone repo  https://github.com/airbusgeo/ngx-openlayers/tree/feat-ol-cesium

- from the example directory: `npm install`

- copy/paste the content of dist/ **replacing all content of** example/node_modules/ngx-openlayers/dist/

- run `npm start`

Here is console log

[code]

I noticed that the content of dist/ is missin

[2017-12-15 05:58] samuel-girard commented on #130
OK, I can see the problem for this error.
I didn't publish some files from the dist, so you need either to update your project with my last commit that correct this, either to build the dist your self (to do so, just run `npm install` in the project root.
Let me know if this solves the problem.

[2017-12-15 06:51] jamesdeantv commented on #130
voila!

[2017-12-22 10:45] Jaujon opened #139 "Unable to access sketch feature geometry hosted by draw interaction"
Unable to access sketch feature geometry hosted by draw interaction. The geometry's change event is not exposed throught proper output binding.

<pre>
template: `
  ...
  &lt;aol-interaction-draw type="Polygon" (onDrawStart)="onDrawStart($event.feature)"&gt;&lt;/aol-interaction-draw&gt;
  ...`,
...
onDrawStart(feature: Feature) {
    <strong>feature.getGeometry().on('change', event => {</strong>

[2017-12-27 15:15] samuel-girard opened #140 "Coordinates collection - polygon, multi-polygon"
Hello,

I just saw that ngx-openlayers does not manage well coordinates collection / geometries.
For example, GeometryPolygon can only contain an array of Coordinates (so no holes), and we cannot create MultiLineString, MultiPoint and MultiPolygon.
To implement these geometries, I'm afraid CoordinateComponent will get less maintainable as it is now if we have to add a lot of `if (someGeometry !==

[2017-12-28 15:41] samuel-girard opened #141 "Layers order"
Hello,

We need to have the layers correctly ordered on the map.
To be more clear, if we add to the map this list of layers:
[code]
layer3 has to be displayed over layer2 which has to be displayed over layer1.
In OpenLayers, it is possible to order the layers without the use of the parameter zIndex, by just ordering the list of layers given to the map.
ngx-openlayers currently adds the layers to t

[2018-01-02 16:06] samuel-girard commented on #140
I implemented the change in https://github.com/quentin-ol/ngx-openlayers/pull/143
The reprojection feature is still working, but on the Geometry instead of the Coordinate component.
I could easily add MultiPolygon geometry with a bit of code refactoring (move geometries to their own directory).

[2018-01-02 16:07] samuel-girard commented on #141
Implemented in https://github.com/quentin-ol/ngx-openlayers/pull/144

[2018-01-13 04:05] Phreeman703 opened #147 "The map don't move on the mobile"
Hello!
When I work with a desktop computer, when the mouse is clicked, the map moves and the zoom works.
But on the mobile device, the card does not move and the zoom becomes the maximum in for the displayed value [zoom], although the [maxZoom] value is set

` <aol-view [zoom]="zoom" [center]="[84.952222, 56.488611]" [maxZoom]="20">`

[2018-01-13 22:12] dutoitc opened #148 "Add a way to get map boundaries"
Hello,

Could you add a simple way on map object to get its boundaries ?

Yet I can do it by this way, but a simplier way would be nice:

[code]

(Sorry I am not yet as good in git as to provide you a pull request)

[2018-01-16 19:11] MaiHei commented on #135
Thanks for your help, this fixed the problem.

[2018-01-16 19:11] #135 closed

[2018-01-23 10:14] davinkevin opened #149 "chore(build): move to angular-package-builder"
Hi,

We would like to propose a new way to build the application around the project of
`dominique-mueller` named `angular-package-builder` (https://github.com/dominique-mueller/angular-package-builder).

This `builder` allows to provide the lib as `ESM2015`, `ESM5`, `UMD` module.  We have tested it with `ngx-openlayers` and this is working well (minus some adjustment on some components).

If it's

[2018-01-25 08:45] davinkevin opened #151 "chore(ci): upgrade node to latest LTS and npm"
We have found some regression when using NPM at version 5.X in the CI pipeline.

The installation of `tar.gz` file has its syntax changed :
[code]

@Neonox31

[2018-01-25 11:39] habella opened #152 "Render Geojson"
Hi, How could I render a Geojson in this component.

[2018-02-02 04:21] Prashanth-Thomas commented on #5
Hello, i have a similar stretching issue, i am using Angular 4.

Got a hold of the map using
*in HTML
<aol-map #map [width]="'100%'" [height]="'300px'">
*in TS File of the component
@ViewChild('map') map;

Tried running the following code:
    this.map.updateSize();

I get the following Error
this.map.updateSize is not a function at <COMPONENT_NAME>.

My question is, how do i get access to the upd

[2018-02-06 09:37] samuel-girard opened #155 "Reproject coordinates when view projection changes"
The re-projection of coordinates is triggered only when coordinates value change (x, y or srid).
We also need to re-project them when the view projection is updated.

[2018-02-07 17:27] dydFreeman commented on #105
Still having some issues in retrieving a click event on a feature, which have a geometry-linestring in it. As you can see in this example (https://stackblitz.com/edit/testngxopenlayers) i managed to get a map click event, but not a feature one.
Am i doing something wrong?

[2018-02-08 08:34] dydFreeman commented on #105
Made few more tests, i can now subscribe to the map click event and then check if it comes from a feature:

[code]

But still, no way of intercepting the click event directly from the template.
LINK: https://stackblitz.com/edit/testngxopenlayers

[2018-02-16 23:23] BabakVandad commented on #105
I don't know if you are still looking for a solution, but:
If you give the `<aol-feature/>` element an `id` property, then you may read that `id` in your .ts file like this:

[code]

That's not exactly what you wanted buy I guess that will do the trick :)

[2018-02-27 13:06] bwillacker commented on #96
Hello - I wanted to check in on the status of this. Just getting started integrating `ngx-openlayers` with my project that has existing unit tests. I see reference in the associated PR to `AngularOpenLayersTestingModule` - how do I access this? I tried just using `AngularOpenlayersModule` in my unit test file and see that network calls are being made to retrieve tiles. I'd like to avoid these netw

[2018-03-01 21:16] KthProg opened #157 "Default interactions do not work"
![image](https://user-images.githubusercontent.com/3527476/36870101-ebdd686a-1d6b-11e8-8f35-9c46b4234ddd.png)

I added the `aol-interaction-default` tag but it doesn't seem to do anything.

[2018-03-02 20:21] KthProg commented on #157
Never mind I see. This adds interactions but there's no "zoom control"

[2018-03-02 20:21] #157 closed

[2018-03-02 20:32] KthProg opened #158 "No way to detect zoom change"
There's no way to tell when the user has zoomed in or out when using the default interaction tag.

[2018-03-02 20:41] KthProg commented on #158
Not only that but it looks like the value of the zoom property does not change when you zoom using the default interaction tag plus a mouse scroll. So there appears to be no way to know that the zoom has changed and what it's changed to without some custom event detection.

[2018-03-02 20:57] KthProg commented on #158
As a temporary workaround I added a wheel event handler to the map, and I update a backing variable that stores the actual zoom level. There really ought to be actual event handlers on either the map or the interaction directive though.

[2018-03-03 21:14] OkieOth commented on #158
I catch the changed zoom with a moveend listener on the wrapped OpenLayers type.
For that I inject the map component object to my Typescript code ...
[code]
... and register after the view is initialized the event listener

[code]
That approach works for me perfect

[2018-03-04 20:42] OkieOth commented on #152
With that template I retrieve GeoJSON data from my server and display it over a slippy map.

[code]

[2018-03-05 14:34] KthProg commented on #158
That approach seems to work much better. Still think an event should be exposed directly on the directive but very nice workaround. The map re-rendering speed seems to be less than ideal so there's a bit of a lag though, but it works much better than what I was trying before.

[2018-03-05 15:08] KthProg commented on #158
Actually this doesn't totally work. This only updates when the user moves the map, not when the zoom level is changed. And this event is already exposed to Angular on the map directive so there's no need to register a handler like that.

[2018-03-05 20:30] KthProg commented on #158
I replaced the event listener with the tried and true interval method. Obviously this is not ideal and exposing an actual zoom change event would be better.

[2018-03-05 20:32] KthProg commented on #158
Actually, maybe your method does work, this might be another bug. The circle I have drawn on the map is not refreshing until I move the map, even if I have a timeout constantly updating the circle radius value.

[2018-03-06 07:33] OkieOth commented on #158
I tested the version ngx-openlayers@0.8.16 in Chrome and Firefox (Ubuntu 17.10) and the 'moveend' event is raised also when I only changed the zoom w/o moving the map and got the event. It's not important how the zoom is done (mouse-wheel, double-click or zoom-control)

[2018-03-06 07:40] codeMonkeysBe commented on #61
Hi yall. I want to help with implementing this.

I had something in mind like the following

[code]
That ok ?

[2018-03-09 18:29] KthProg commented on #158
So the issue appears to be that vectors are not always redrawn (or rather the radius of a circle vector is not redrawn after each moveend event). I can create a video of this issue if needed.

[2018-03-10 13:37] OkieOth commented on #158
I solved in my code by a custom style function. This function is called on every redraw and sets a scale related to current zoom.

[2018-03-12 13:27] KthProg commented on #158
Can you show me how that was done?

[2018-03-13 16:09] maher1991 commented on #98
Hello, I need a basic example for displaying a polygon:
I tried something like the code below but it doesn't give me a result:

[code]

[2018-03-13 17:12] davinkevin commented on #98
We are thinking about documentation with @aymeric-duchein and we will try to provide a storybook of the component to show different use-case requested by users...

[2018-03-14 05:58] teguh87 opened #161 "need help map not draggable!"
Please I hope you show me how using draggable with onPointerDrag !!!!

[2018-03-15 16:18] teguh87 commented on #161
Sorry I'm  not read documentation very well!!!

[2018-03-15 16:18] #161 closed

[2018-03-28 04:03] BrkCoder opened #162 "Supporting the library"
Hey I am doing a project right now which is related to openlayers and I am using this current library for my needs.
I have forked this project and I would like to know a couple of things:
1.By how this library is currectly maintain?
2.Does we have any future plans for next versions of this library?
3.Which List of Features need to be implemented and are necessary for this library?

Best Regards,
B

[2018-03-30 06:12] dutoitc opened #164 "Zoom issue"
Hello,
I copied the example code and have an issue with zoom. The example shows two ways of zooming: by clicking on the zoom button, or by double-click.
Both work, but now this:
- double click on the map twice
- use the zoom in button
This last one have a zoom out effect, because the double click zoom does not affect the 'zoom' variable, so the zoom in button will zoom from the last variable value

[2018-04-09 03:26] davinkevin commented on #162
1. Many people are maintaining it currently. I can talk for myself only, but the team where I work is heavily using it, so we are taking care of the lib

2. We are working on improvements on day to day work, from feature support to better testing / packaging. Many of these should be done in a 0.9.x version I think

3. I'm not sure to understand this question... this lib already has a set of featur

[2018-05-01 17:52] mikimaine opened #168 "Loading a .pbf tile from TileServer"
first, it is a very good package thanks.

I have few issues :

1. the package works when using a default source but I'm having issues to load a map from the local TileServer I setup. The tile server works on itself and the tiles are in a .pbf file format.
when I change the layer to this:
`<aol-source-xyz [url]="'http://0.0.0.0:8090/tileserver.php?/trails.json?/trails/{z}/{x}/{y}.pbf'">

[2018-05-08 11:05] Ghostbird commented on #125
I have the same issue. The OpenLayers example pages work fine, but this the angular component scrolls while using mouse-wheel zoom.
Any solution?

[2018-05-11 16:05] KthProg commented on #158
Hey. Can you give me more info? Thanks.

[2018-05-23 23:06] chriszrc commented on #118
How did you get a reference to ol in `ol.proj.setProj4(proj4)`, I can't see to get a reference to that root ol object in typescript

[2018-05-24 15:06] Fatalityap opened #169 "Transform from EPSG:4326 to EPSG:3857"
Hi, I am a little bit new to Angular2(3,4,5,6) I have created map click event handler and I can receive coordinates via event.coordinate but how can I transform it to EPSG:3857 ?

In raw javascript I can do like this `ol.proj.transform(event.coordinate, 'EPSG:4326', 'EPSG:3857')` but this is not working for me.

Here is part of my code:

[code]

html code here:

[code]

How can I do it?
How can I

[2018-06-06 06:49] mjimenezmartin opened #172 "Example is not working"
Hi!
I've just download de source and try the example under /example but getting this error after ng serve:

[code]

[2018-06-08 11:54] davinkevin commented on #172
It's a bug. We forgot to release the last version and modify the `example/package.json`

I do it right now

[2018-06-08 12:02] mjimenezmartin commented on #172
Cool.
Btw really good job.
Thanks!

[2018-06-08 15:04] davinkevin opened #173 "[Question] Migration to Angular 6"
Hi,

Due to the migration to Angular6, I would like to ask to everyone here what version you think we should publish ( #170 ) :

* 0.9.X
* 1.X.X
* 6.X.X
* Another idea
* Obiwan Kenobi

Thanks

[2018-06-08 15:08] Yakoust commented on #173
I think that the lib is mature enought to have its first major release.
Angular 6 integration is a good justification to have 1.X.X version;

[2018-06-09 04:19] mhosman opened #174 "Get Coordinates of drawn polygon feature."
I'm not able to use getCoordinates() in order to get polygon drawn coordinates like this:

[code]

getCoordinates() just doesn't exist.

[2018-06-09 09:21] davinkevin commented on #172
Should work now. Could you confirm and close the issue ?

The move to angular6 will ease this for next improvments

[2018-06-11 07:41] fttriquet commented on #173
This version is aimed at being used on prod for us at some point, so I would dismiss 0.9.X. I don't see any point in following Angular with a 6.X.X since we're probably not going to upgrade with every version of Angular. So : 1.X.X

[2018-06-11 08:28] ruizalexandre commented on #173
version: **1.X.X**
release name: **galatic unicorn**

[2018-06-11 08:30] aymeric-duchein commented on #173
Do we have any major bugs and or any features missing to delay first major release?
If not 1.X.X (as said above I don't see a point following angular version number)

[2018-06-11 18:34] mhosman commented on #174
I can't find the way to get coordinates once a polygon I drawn.

[2018-06-12 06:46] Neonox31 commented on #173
My proposition is to split the library into two distinct versions :
- the latest release which is the `0.8.21` pointing on `master` branch
- the next release which is the `1.0.0-next.x` pointing on `next` branch

This trick could be achieved using NPM dist-tags, the current version of the library could be installed as before using `npm i ngx-openlayers` or you could install the next version using

[2018-06-13 06:02] kasugaiasuka opened #175 "How to set values to feature"
How can I [set values to feature](https://openlayers.org/en/latest/apidoc/ol.Feature.html#set)?

If I can use openlayers directly, what I want to do is like this:

[code]

[2018-06-14 10:47] achimha commented on #44
Has anybody given this another try? Not using a monolithic openlayers would have a a lot of advantages.

[2018-06-15 03:08] davinkevin commented on #44
Not yet, but we are very interested about this.

[2018-06-15 10:48] mjimenezmartin commented on #172
Confirmed!

[2018-06-15 10:48] #172 closed

[2018-06-15 11:59] davinkevin commented on #172
👍

Le ven. 15 juin 2018 à 12:48, Moisés <notifications@github.com> a écrit :

[2018-06-18 17:09] mhosman commented on #174
Anybody? Thanks

[2018-06-18 18:35] davinkevin commented on #174
Sorry, I totally miss this message 😊

@gasperiguillaume could you provide an example to this question?

[2018-06-18 19:30] mhosman commented on #174
I just don't have an example because I don't know how to get coordinates. The idea is to draw a polygon in the map and get the resulting coordinates. Also I want to pick up a color for that polygon before starting to draw.

In OpenLayers, the way to get coordinates from a polygon is using getCoordinates():

[https://gis.stackexchange.com/questions/248373/highlight-polygon-coordinates-using-openlay

[2018-06-19 13:18] digoburigo commented on #174
Hi, i don't know if this is what you want. But i was able to find it like this.
`Polygon.fromExtent(e.feature.getGeometry().getExtent()).getCoordinates())`
Give it i try and tell me if worked for you.

[2018-06-19 13:46] mhosman commented on #174
Hey @digoburigo, thanks for your reply! I'm not able to import Polygon into TS file (?)

[2018-06-19 14:22] digoburigo commented on #174
I install with npm. `npm install ol @types/ol --save` and import like this `import Polygon from 'ol/geom/polygon';`. But i was testing and this function returns a regular polygon based on the drawed polygon. So i think its not what you want, because it takes the extent of the drawed polygon and make a new one with the points of the corners and make it regular

[2018-06-19 14:33] mhosman commented on #174
If there's any way to add that polygon to the map maybe could work for me. I'll check.

[2018-06-19 17:29] mhosman opened #176 "How to get instance of the map in TS?"
[code]
`@ViewChild('map') map;`

When I try to access the map var is undefined.

[2018-06-19 18:10] mhosman commented on #176
My bad, just put:
`@ViewChild('map') map: Map;`

[2018-06-19 19:00] mhosman commented on #152
How to do this from TS?

- Get map instance
- Add new layer to the instance

[2018-06-19 19:05] mhosman commented on #176
Sorry but I'm re-opening this. I'm not able to get map instance and add a vector created in TS.

[2018-06-20 08:26] Nols1000 opened #177 "Support multiple styles."
Hi,

While migrating to this project from a self written solution, I discoverd a limitation of the feature-component. It is only able to have one style while Openlayers supports to set an array of styles [https://openlayers.org/en/latest/apidoc/ol.Feature.html#setStyle](https://openlayers.org/en/latest/apidoc/ol.Feature.html#setStyle). In the example code below you can see how I expected it to wor

[2018-06-20 12:29] gasperiguillaume commented on #174
@mhosman

Is it what you are trying to do ?
[https://angular-2zczhc.stackblitz.io](url)

[2018-06-20 12:42] mhosman commented on #174
That's great! Thank you @gasperiguillaume

[2018-06-20 12:42] #174 closed

[2018-06-22 19:12] mhosman commented on #176
[code]

[2018-06-22 19:12] #176 closed

[2018-06-27 04:00] davinkevin commented on #173
@quentin-ol and others, what do you think about the @Neonox31 proposition?

[2018-06-28 14:03] mhosman opened #180 "NPM Audit with High vulnerabilities"
Vulnerabilities for ngx-openlayers package:

-------------------------------------------------------------------------------

There are another moderate vulnerabilities for this package. Please run `npm audit`.
It would be great to have a version that fix these problems.

[2018-06-28 14:31] mhosman opened #181 "Update to OpenLayers 5.0"
New OpenLayers 5.0 has been released. It could be great to update this library to support that version.
[https://github.com/openlayers/openlayers/releases](https://github.com/openlayers/openlayers/releases)

[2018-06-28 16:29] davinkevin commented on #181
We will first move to angular 6 packaging and then migrate openlayers. But yes, this should be done

[2018-06-28 21:43] mhosman commented on #180
I think maybe this will be fixed once the library is updated to OpenLaters 5.0

[2018-06-29 06:41] Neonox31 commented on #180
Thanks for reporting this, we gonna check.
Just a reminder that PR are welcomed 😉

[2018-06-29 14:37] mhosman commented on #180
Yeah I know @Neonox31 I will try to help 👍

[2018-07-02 14:32] KthProg opened #182 "Valid sources not listed"
The documentation doesn't list the valid `aol-source-*`  tags that you can use. I was hoping we could switch to MapBox as OpenStreetMaps may eventually block us.

[2018-07-04 13:08] Ghostbird commented on #169
I had exactly the same scenario. The answer is that you have access to openlayers, since it is a dependency of ngx-openlayers.

Just add this line to the top of your TS file:
[code]
Then you can use `ol`

[2018-07-09 10:09] OSHistory commented on #181
There are plans to include typings within openlayers itself (in progress). Also note that now only the ol-package is supported.

https://github.com/openlayers/openlayers/issues/8120

[2018-07-10 10:12] davinkevin commented on #173
I think the solution of a version 1.0.0 with at least what exposed @Neonox31 could be the best solution. To all, we will close the question this weekend, so if you want to share your opinion, you don't have a lot of time.

[2018-07-10 10:14] achimha commented on #173
I am in favor of @Neonox31 's proposal. The current architecture of the library is very Angular/webpack unfriendly and the sooner a useable modular version there is, the better.

[2018-07-10 12:33] quentin-ol commented on #173
Also in favor of @Neonox31 's proposal.
A quick comment on  6.x.x: trying to follow Angular version number is difficult and won't reflect the evolution of the lib: not in favor of this.

[2018-07-18 13:22] samuel-girard commented on #181
Hi @mhosman
I started some work to include OpenLayers 5 in ngx-openlayers here: #183
There is nothing to show yet, but very soon I hope.

[2018-07-19 11:01] Fatalityap commented on #169
Thanks )

[2018-08-02 11:56] samuel-girard commented on #173
+1 for @Neonox31 's proposal with `master` and `next` branches

[2018-08-09 03:06] JamesHearts opened #185 "Extent breaks upon interaction."
Not sure if I am entering the data in the way that ngx-openlayers requires. But when trying to use the 'extent' property the **map will break when an interaction is made** 'zoom, pan, etc'. I am using the format that the OpenLayers API requires.

`[extent]=[minX, minY, maxX, maxY]`

Also. Using the boundingExtent() function from the Extent module doesn't work.

[2018-08-11 18:50] mikimaine commented on #168
This wasn't a problem with ngx-openlayer, it was an issue with the tile server it self.
I have answered this question on stackoverflow: [https://stackoverflow.com/questions/50116450/how-to-load-a-custom-pbf-file-in-ngx-openlayers](https://stackoverflow.com/questions/50116450/how-to-load-a-custom-pbf-file-in-ngx-openlayers)

[2018-08-11 18:50] #168 closed

[2018-08-16 11:13] gamesgil opened #186 "Getting each clustered group's number of features"
Following the cluster example I have a question. How do I get the number of features within each layer, so I can show them? (Currently the demo shows a static number)

[2018-08-20 20:46] #180 closed

[2018-08-29 20:01] tbowmo opened #187 "Receiving coordinates from observables.."
I'm trying to get the following to work:

[code]
invite object fetched from a webservice. It shows a point just north of Antarctica, despite the fact that the real point is on the northern hemisphere.

If I hardcode the values instead as [x]="9.111" [y]="56.22" then it works fine.. So Somehow I must be missing something.. But what?

[2018-09-05 18:39] Neonox31 commented on #173
Unfortunately there is no defined date.
The release is now depending of me, I work on the continuous integration chain to work both with ng5 and ng6 versions. Don't worry, the job is nearly done :+1:

[2018-09-06 10:18] tolvaly commented on #173
OK, thank you for the details provided. I just came around this library yesterday, and I'm eager to try it out in our current application (we use angular6).

[2018-09-06 19:52] mhosman commented on #181
Any new about this? Thank you!

[2018-09-07 05:36] samuel-girard commented on #181
Hello @mhosman
The migration to OL5 is still going on.
We are just facing one last issue: the lack of proper typings. As there is some work being done on OpenLayers side to add type checking to the library, we are waiting for a release that will include this.
I'll update this thread when we have something that can be used.

[2018-09-16 23:12] Arturiko opened #188 "Cannot find feature-move-animation"
Hi,

Can anyone help me to reproduce
https://openlayers.org/en/latest/examples/feature-move-animation.html

I need to show route on my map and can't find the feature move thing...

Thank you

[2018-09-21 13:55] Dji75 commented on #187
A little bit late (23 days ago !) but maybe try to add an *ngIf in `<aol-view> `:
[code]

[2018-09-21 17:14] tbowmo commented on #187
I already have an *ngIf on an outer div..

Just tried adding *ngIf="invite.nerdSite" to aol-view, but not helping..

I get a point off the coast of South Africa, instead of Denmark.

If I do
[code]

I get the correct place, but If I do the following:
[code]

Then I get a point in south affrica region, the only difference is the added ' ' around the [y] parameter.

[2018-09-22 14:35] tbowmo commented on #187
Turns out it's a string / number conversion issue.. Apparently my backend returned the the coordinates as string values, instead of number, and even though I had defined the interface as using number, it was still a string.

[2018-09-22 14:35] #187 closed

[2018-09-24 07:40] veakey commented on #186
Thanks @gamesgil, same issue here, there is no way to retrieve the number of clustered elements

Demo link
https://github.com/quentin-ol/ngx-openlayers/blob/master/example/src/app/cluster/cluster.component.html

[2018-09-24 11:47] veakey commented on #186
So, using javascript based on an example of open layers (so skipping the template part ...)
https://openlayers.org/en/latest/examples/cluster.html

[code]
Using ngAfterviewInit hook

[code]

Et voilà !

Should be fine, but it would be better if we can achieve this through templating :)
Please make it happen :+1:

[2018-09-24 14:41] aymeric-duchein commented on #175
Hi, this should work :
[code]

[2018-09-24 15:12] aymeric-duchein commented on #136
With almost a year of delay (for everybody still wondering), this should work :

Html:
[code]

TS file:
[code]

[2018-09-24 19:53] HarelM opened #189 "Add short code to show how to add the module"
Most libraries have a short section to show how to add the relevant module to angular application module.
I think it would be beneficial to new developers that would like to use this library like me.
For example, see the setup section here:
https://github.com/nicky-lenaers/ngx-scroll-to

[2018-09-24 21:14] HarelM commented on #189
Probably css file instructions are needed too...

[2018-09-25 13:18] Yakoust commented on #173
:tada: Thanks to @Neonox31 ngx-openlayers 1.0.0.next.0 is available :tada:

[2018-09-25 19:42] HarelM opened #190 "Support custom zoom animation duration"
Thanks for this great library!
The default zoom animation duration is 250 ms (I think).
So when using `zoomAnimation` from `<aol-view>` it takes 1000 ms which is longer than using the mouse wheel.
I also think the default should be 250 and not empty.

[2018-09-26 05:45] HarelM commented on #190
Thinking about it again, probably animation options is better to facilitate for animation type as well.

[2018-09-26 08:42] aymeric-duchein commented on #133
Looks good to me. I made the PR #191 with example on how to use it.

Thanks for your dev!

[2018-09-26 09:15] aymeric-duchein commented on #158
Hi! You can use ``` this.view.instance.on('change:zoom', evt => console.log(this.view.zoom));``` where view is a viewChild : `  @ViewChild(ViewComponent) view: ViewComponent; ` to detect zoom changes.
I'll create a PR to add the proper view outputs in the view.

[2018-09-26 09:50] aymeric-duchein commented on #177
Hi! I found the guilty here : `this.host.instance.setStyle(this.instance);` @style.component.ts in ngOnInit.
This should check for existing Style before overriding them.
Can you make the changes or should we do it?

[2018-09-26 09:51] aymeric-duchein commented on #185
Hi! Could you provide an small code sample so we could better help you?

[2018-09-26 09:59] aymeric-duchein commented on #189
Hi! To use this library, simply add AngularOpenLayersModule to your module
[code]
If you think something is missing, a PR to improve the documentation is always welcome!

[2018-09-26 11:08] Nols1000 commented on #177
Could you take a look at my PR #178.

[2018-09-26 11:57] kekel87 commented on #186
I tried to do it when I made this example.

[code]

[code]
But it's still javascript, I did not succeed through the templates.
My reviewer advised me not to remove it.

[2018-09-26 12:15] aymeric-duchein commented on #190
Hi! the default animation time of 1 second is coming from openlayers: [By default, the animation lasts one second and uses in-and-out easing. ](https://openlayers.org/en/latest/apidoc/module-ol_View-View.html).
If you want to animate for only 250ms you should be able to do this:
[code]
I don't know if the zoom is updated by animate so if it isn't you should be able to use :
[code]

Where view is a

[2018-09-26 13:03] aymeric-duchein commented on #177
@davinkevin @Yakoust can one of you take a look?

[2018-09-26 13:54] HarelM commented on #190
I know I can do it manually, but I think the `<aol-view>` should have this as parts of its API.
As in view.component.ts
[code]

[2018-09-26 17:19] HarelM commented on #61
Was this implemented by anyone?
I see that `<aol-source-cluster>` exists in the code, but I couldn't understand how to use it...

[2018-09-26 18:42] HarelM commented on #189
Feel free to accept it :-)

[2018-09-26 19:00] davinkevin commented on #61
You can find an example here => https://quentin-ol.github.io/ngx-openlayers/examples/cluster
The source code is [here](https://github.com/quentin-ol/ngx-openlayers/blob/next/src/app/cluster/cluster.component.ts)

[2018-09-26 19:28] HarelM commented on #61
P.S thanks for the quick response!

[2018-09-26 19:42] HarelM commented on #61
I now see that what I'm looking for is discussed here: #186, I'll move my question there.

[2018-09-26 19:46] HarelM commented on #186
@davinkevin I'm thinking on sending a PR with the following simple change:
[code]
I think it will allow setting a style function and it adheres to the OpenLayers API as much as I can see.
Am I missing something? Seems too simple...

[2018-09-26 19:57] HarelM commented on #61
I'm guessing this is implemented and can be closed, right? (So that future developers wouldn't think this is still not implemented since it is open).

[2018-09-26 20:36] HarelM commented on #186
Also would be extremely nice to get this animated.
I found this code that should handle animation, but it's not part of the official OpenLayers library and it seems to use JQuery... :-/
https://github.com/Viglino/ol-ext/blob/master/src/layer/AnimatedCluster.js
Would be nice to have part of this here, I'm still new to OpenLayers so it's a bit too much for me right now...

[2018-09-26 20:43] veakey commented on #186
Actually you don't need to use jQuery, just using open layer api

[code]

Le mer. 26 sept. 2018 à 22:36, Harel M <notifications@github.com> a écrit :

[2018-09-27 22:02] Dji75 commented on #187
Nice to see you got the point.

Interface is just describing what you expect, not what you want. If the backend answer a string, you should put a string in your interface, nothing else. You can also wrap the backend raw result from `any `to your interface after having converted the variable from string to number.

Lots of `Date` conversion works this way. Backends returns dates from strings in UTC

[2018-09-29 18:40] HarelM opened #195 "aol-style-text missing properties"
I might be missing something but I think some of the properties for text are missing:
See here:
https://openlayers.org/en/latest/apidoc/module-ol_style_Text-Text.html
In my case I need text fill to present a text with some color.

[2018-09-29 18:44] HarelM commented on #195
My bad... the syntax is by using a child element and not a property...

[2018-09-29 18:44] #195 closed

[2018-10-01 09:31] HarelM opened #196 "Problem with 'display:none' style"
I'm using angular material.
In that I'm using accordion.
in the accordion, I'm using a map.
The problem is that the accordion uses css `display:none` in order to hide its items and it seems there's an issue with it using this library.
See here - I've used a simple toggle button to demonstrate the issue.
https://stackblitz.com/edit/ngx-openlayers-191

The workaround is to use `*ngIf`...

[2018-10-02 14:44] HarelM commented on #186
@veakey does this animate the clusters as well? seems like it will only animate the view, but I might me missing something.
The linked library uses JQuery, it might be that the specific class that I referenced does not.
I'll be happy to do some pull requests once I get everything working on my site using this library, assuming this is some thing that this library should have (the cluster animation

[2018-10-04 14:40] veakey commented on #186
@HarelM, the only animation it does is the zoom effect until you reach a point which is not at cluster level ^^

I am speaking about this kind of animation
https://developers.google.com/maps/documentation/javascript/marker-clustering

Hope it helps :)

[2018-10-06 18:52] HarelM commented on #186
Nope, I was hoping something like the following:
http://viglino.github.io/ol-ext/examples/animation/map.animatedcluster.html

[2018-10-07 19:55] HarelM opened #198 "is updateWhileInteracting input is missing from LayerVectorComponent"
I might be missing something, but I think `updateWhileInteracting` is missing from `LayerVectorComponent`.
I can see it here:
https://openlayers.org/en/latest/apidoc/module-ol_layer_Vector.html
But I can't see it in the code...
Assuming I'll send a pull request will someone be able to merge it and create a new npm package?
My last pull request is very small and is waiting for almost two weeks now.

[2018-10-07 20:37] HarelM commented on #198
I'm asking mainly because I added a custom interaction to move a feature and the move does not get "animated". I'll see if I can create a stackblitz to illustrate the issue.

[2018-10-10 08:16] aymeric-duchein opened #200 "Outputs should not be initialized in constructor"
As discussed in #192, we should initialize outputs when declaring them

[2018-10-10 13:26] ppazura opened #201 "ReferenceError: Qy is not defined at blob:https"
Hey! today when i run my application on prod environment i had this error, what causes that tile was not rendered, but point on map was displayed, with the possibility of shifting.
[code]

UPDATE: URL for my application is different than  blob:https://URL/

[2018-10-11 08:39] mfarisakmar opened #203 "Load custom .geoson file with ngx-openlayers"
Hi,

May i know how could i load my custom .geojson file with this library?

below is my code in html. do i need to do anuything with the .ts file?

`<div>
  <aol-map #map1 [width]="mapWidth" [height]="mapHeight">
      <aol-layer-tile>
          <aol-source-xyz></aol-source-xyz>
      </aol-layer-tile>
      <aol-layer-vector [visible]="'true'">
          <aol-source-geojson
              [url]="

[2018-10-17 12:48] mfarisakmar opened #205 "use view.animate() in ngx-openlayers"
As seen in this [https://openlayers.org/en/latest/examples/animation.html](url) example, ive been trying to implement this method in my code but somehow the .animate method couldn't be found.

Can somenone help me with this? I am still new in Angular as well as this library.

Thanks

[2018-10-19 02:00] mhosman opened #206 "Update deps. to Angular 7.0"

[2018-10-23 20:45] HarelM opened #207 "Support ArgGIS layers"
Would be great if this library can support ArcGIS layers:
https://openlayers.org/en/latest/examples/arcgis-tiled.html
https://openlayers.org/en/latest/examples/vector-esri.html

[2018-10-24 11:52] davinkevin commented on #207
Some of them works with argis I think. Nothing about it @kekel87 ?

[2018-10-25 11:49] kekel87 commented on #207
For now, I just fit localy [ImageArcGISRest](https://openlayers.org/en/latest/apidoc/module-ol_source_ImageArcGISRest-ImageArcGISRest.html) on my project.

For the [vector-esri](https://openlayers.org/en/latest/examples/vector-esri.html) examples,  I adapted the example to Typescript with ViewChild (for performance issues).

For the [arcgis-tiled](https://openlayers.org/en/latest/examples/arcgis-t

[2018-10-25 13:35] HarelM commented on #207
@kekel87 thanks for the info! I didn't know I could add `/tile/...` to get xyz tiles :-)
Looking at the provided example, how could one use the styles for the vector layer from ArcGIS and use them in Openlayers?

[2018-10-25 13:59] kekel87 commented on #207
I have them recreated by hand in a table to make style cache.
It allows to adjust them if the customer changes his mind.

I think it's possible to make an Arcgis style converter to Openlayer, but I do not find an Openlayer official solution.

[2018-10-30 17:45] HarelM opened #208 "Support circle geometry"
Hi,

Would be great if this library had wrapped the circle geometry.
Main usage: I want to show a GPS location with a changing accuracy circle - using style seems incorrect as the accuracy is in meters and not pixels is zoom dependent...

https://openlayers.org/en/latest/apidoc/module-ol_geom_Circle-Circle.html

[2018-11-05 09:06] MateuszSapielakGSI commented on #66
@achimha @quentin-ol did you guys ever figure this out? I'm struggling with the same problem, every time I interact with the map it runs the angular change detection.

[2018-11-12 20:48] kekel87 commented on #208
https://github.com/quentin-ol/ngx-openlayers/pull/210

[2018-11-14 14:16] HarelM commented on #208
Thanks @kekel87!
I hope this will be merged soon and a new version will be released...

[2018-11-20 10:14] HarelM commented on #177
Any updates on this? I'm in need of the ability to set a feature style using a `style` or a style function.
@Nols1000 @kekel87 are you maintaining a fork with your added functionality? I'm having a hard time understanding why a lot a pull requests here are not merged to this repository...
I'll be using this library in production and I'd love to help out maintaining and testing but this repository

[2018-11-20 13:13] Nols1000 commented on #177
@HarelM I wont maintain my fork.

[2018-11-22 14:30] reservoir-dogs opened #211 "Declare AngularOpenlayersModule in other module"
My application display a map correctly with this simple snippet.

[code]

Next, my goal is to mock the map when I use ssr.

First step, I would declare AngularOpenlayersModule in second module of my application like that

[code]

My default module is
[code]

I change the main.ts like that
[code]

When I execute, it seems that it doesn't know the MapComponent
[code]

Do you have any idea ?

[2018-11-25 13:00] HarelM commented on #177
My bad, `next` version is constantly updated.
@davinkevin @Neonox31 any chance to get this feature to the `next` branch?
Or even an `@Input` for `style` in `VectorLayerComponent` to set a custom style function?

[2018-11-30 10:45] samuel-girard commented on #155
Re-implemented in https://github.com/quentin-ol/ngx-openlayers/pull/214 for OpenLayers 5.

[2018-11-30 11:11] OSHistory commented on #181
It seems like typings inside the ol-package probably won't be provided for some time :(. I started
an effort to generate them from source in a purely automated fashion. The main-script is called
`hot-fix-content.py`, and indeed the project is quite frankly a bit messy, but the resulting types do
at least a decent job (biggest caveat is missing type-declarations in functions and return types).

Per

[2018-12-03 17:49] mhosman commented on #206
No news about this? I still get warning...

`ngx-openlayers@1.0.0-next.2 requires a peer of @angular/common@^6.0.0-rc.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.`

[2018-12-04 19:05] HarelM commented on #198
Any updates on this? I now see that I need this flag in order to show vector data while animating the map to rotate and pan...

[2018-12-04 19:09] HarelM commented on #198
Sorry, meant `updateWhileAnimating`. should be the same effort i guess...

[2018-12-05 18:34] HarelM commented on #198
I've created a pull request for this. I hope it will be merged. I've tested it on my site and it seems to be working as expected. If you could create a new next version it will be great.

[2018-12-05 20:18] HarelM commented on #177
I've sent a pull request that I think can help with this issue as well: #216

[2018-12-14 19:17] HarelM commented on #198
@maintainers Any change to get this merged? I really really don't want to create a npm package only for this...

[2018-12-17 19:45] HarelM opened #217 "Allow using a fork instead of an npm package"
Current implementation of this package does not allow contributor to test their fork before submitting a pull request.
Since in `next` version the dist folder is no longer checked-in (which is good) one cannot fork and use `npm install git+...`.
In the npm documentation there's a `prepare` script that might facilitate for this.
However, since the repository has two goal - the library and the examp

[2019-01-02 04:07] panaaj opened #218 "Keyboard map scroll and zoom not working"
Keyboard pan and zoom not functioning as the enclosing map `<div>` does not have the `tabindex` attribute.

[2019-01-11 20:33] Neonox31 commented on #217
First, thanks for pointing this use case, I never used it and just discovered the `prepare` script.
Unfortunately this project could not be splitted into two distinct repositories for the moment because it is builded with Angular CLI whiches force to generate a main project (demo here) before creating a library.

I tried to install from git using a subfolder with NPM but sadly it is not possible a

[2019-01-11 20:50] HarelM commented on #217
Thanks for the info. I'm currently using a patch of a local version I created.
I would say that if the rate pull requests adoption was decent this use case would not have been something I needed (although someone else might), but I have a pull request that is waiting for more than a month without any comment so I gave up on trying to contribute and I'm now looking for a way to use the local change

[2019-01-11 21:07] Neonox31 commented on #217
Sorry for that, we have a lot of work to do simultaneously of this project.
I just mentionned maintainers for your P.R.

[2019-01-11 21:14] Neonox31 commented on #206
Fixed by commit https://github.com/quentin-ol/ngx-openlayers/commit/f4330af4a4078c55fc57c801b1a45471b3c595e6, will be in next prerelease

[2019-01-11 21:14] #206 closed

[2019-01-27 11:02] tbowmo opened #220 "Outdated dependencies"
It seems that there is a lot of outdated dependencies, when installing 1.0.0-next.4, I get the following warnings

[code]

I have not looked into the source (yet) so I do not know if it's a painless upgrade of the mentioned libraries.

[2019-02-04 10:46] Neonox31 commented on #198
`1.0.0-next.5` is on its way, sorry for the delay.

[2019-02-04 14:49] HarelM commented on #198
Great!!! thanks!!! Last thing lest is the OL 5 migration. Any new about that?

[2019-02-16 00:23] nouhouari commented on #176
Make sure you access the **this.map.instance** after the view is initialised in the _ngAfterViewInit()_ method.

[2019-02-20 21:33] cyberrranger commented on #220
it is even worse, the package https://www.npmjs.com/package/openlayers is deprecated, the new package is https://www.npmjs.com/package/ol

[2019-02-20 21:35] cyberrranger commented on #181
wait too

[2019-02-21 20:30] HarelM commented on #181
@maintainers can someone comment on this, please...

[2019-02-21 20:39] davinkevin commented on #181
To help for this one, some of you can solve conflicts on the PR #183 ?

[2019-02-21 20:50] HarelM commented on #181
I'd be happy to, but I don't have write access to either of the repositories... Is there a way for me to help solving the conflict using some git magic?

[2019-02-21 21:09] davinkevin commented on #181
You can fork this code in another PR if you want and solve this.

[2019-02-21 21:31] HarelM commented on #181
Just to make sure I follow your suggestion:
1. Fork the repository used by @samuel-girard
2. Add the relevant code there to solve the conflicts (I'm not sure I know how to do it since I'll need to get the latest changes from this repository which won't be the parent of my repository)
3. Create another PR that will be used instead of #183
Did i get it right?
I don't mind doing so, but the same prob

[2019-02-21 21:53] davinkevin commented on #181
The main idea here seems to be good.

I think the next step in the project will be to merge the current next on
mster and make the future next the OL5 version. I may be wrong, I let
@neonox31 and his team share some details.

Le jeu. 21 févr. 2019 à 22:31, Harel M <notifications@github.com> a écrit :

[2019-02-22 06:06] samuel-girard commented on #181
Hello @HarelM

You are right, the same problem will occur again if another MR is merged into `next` before #183
I suggest to do the rebase on `next` only when the team (ping @Neonox31) is ready to merge this one, as it is a bit annoying without OpenLayers typings (I have done that many times).
Once they are ready, I can help you with that or do it myself when I have some spare time.

[2019-03-02 14:10] HarelM commented on #181
@Neonox31 can you share your status regarding this issue?

[2019-03-08 10:55] HarelM commented on #181
@samuel-girard do you think we should create a npm package from your repository until someone here answers? I really need ol 5 for ol-mapbox-style conversion...

[2019-03-08 21:56] samuel-girard commented on #181
@HarelM, yes we can create a temporary package with ol5 that you can use until the branch is merged in ngx-openlayers.
Not sure if I will have enough time for that, but I'll give it a look this week end.

[2019-03-10 07:16] samuel-girard commented on #181
@HarelM I just published `ngx-ol` on npm. I quickly tested on the demo project of ngx-openlayers and everything seems good.
To use it, you just need to these things in your project:
- in your package.json, replace ngx-openlayers by ngx-ol (version 0.0.1), then run `npm install`
- add a dependency to `ol` (version 5.3.1 is good) - and remove dependency to `openlayers` and `@types/openlayers` if any

[2019-03-10 08:01] HarelM commented on #181
@samuel-girard Thanks!!! Did you happen to take by any chance the latest changes from `next` version?
I added a boolean to vector layer which I very much need here:
https://github.com/quentin-ol/ngx-openlayers/issues/198
Very simple commit that can be seen here:
https://github.com/IsraelHikingMap/ngx-openlayers/commit/39bfbf4396adaf4d1f5cb5575faefeea6b660c88

I can create a PR to your repo if need

[2019-03-10 17:31] samuel-girard commented on #181
Yes, I also rebased the branch on next before creating the package, so your change should be there.

[2019-03-11 08:23] HarelM commented on #181
@samuel-girard you're a life saver!! :-) I've used your package to migrate my site to ol 5 and everything seems to be working as expected! Yay!
BTW, which branch did you publish to NPM? seems like `airbusgeo:openlayers_five` does not have my changes so I'm guessing it is not the one you used, right?

[2019-03-11 08:28] HarelM commented on #181
@OSHistory I'll be happy to try out your typing, please let me know how to do it - your repository does not have the typings inside so I won't be able to use `npm install git+...` to get them... I've seen that you created a project that can have the typings using JSDocs, but I as far as I understand it only works for vscode, and I'm using visual studio...

[2019-03-12 20:37] samuel-girard commented on #181
@HarelM yes, your changes are in the branch `airbusgeo:openlayers_five` (as seen here https://github.com/airbusgeo/ngx-openlayers/blob/a060d5d75bb35226f6d6a8846a2215289ab7d1fa/projects/ngx-openlayers/src/lib/layers/layervector.component.ts#L25).
`airbusgeo:openlayers_five` is the branch I published on NPM, so your changes are also in the published package.

[2019-03-15 07:19] kaito3desuyo opened #222 "<aol-control-*> doesn't work"
Hello.

<aol-control-*> is not displayed.
Am I wrong in usage?

[code]

[2019-03-20 10:41] Dji75 opened #223 "Getting error "e.isDef is not a function" when integrating ol-cesium"
Hello,

I'm trying to integrate `ol-cesium` with `ngx-openlayers` to my project and I encounter an unexpected error when calling `setEnabled` from `OLcesium` :
[code]

Here is my versions
[code]
`ngx-openlayers` uses `openlayers 4.4.2` but `ol-cesium 2.8.0` uses `ol 6.0.0-beta.3` ("ol", not old named "openlayers")
I can't find right version of `ngx-openlayers` to deal correctly with quite recent `

[2019-04-03 08:42] lcatania opened #224 "Map not working"
Hey,

i tried to implement your library in my ionic application. But i cant get it to work.

I copied the example but it doesnt show the map.

This is my map component:

`<aol-map [width]="'500px'" [height]="'300'">
    <aol-view [zoom]="2">
        <aol-coordinate [x]="5.795122" [y]="45.210225" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile>
        <aol-source-osm></a

[2019-04-03 08:59] lcatania commented on #224
Sorry nevermind. I figuered out why it wont display.

its missing 'px' and the height property.

The readme needs an update.

Best regards

Lorenzo

[2019-04-03 08:59] #224 closed

[2019-04-03 17:20] medley56 commented on #8
I believe the easiest solution here is to simply add a line to the installation instructions to add `"node_modules/openlayers/css/ol.css"` to `styles: []` in `angular.json`. It works flawlessly for me anyway.

[2019-04-04 14:14] Yakoust commented on #223
Maybe this will be fixed by OL5 intergartion in https://github.com/quentin-ol/ngx-openlayers/pull/183

[2019-04-04 14:14] Yakoust commented on #220
https://github.com/quentin-ol/ngx-openlayers/pull/183

[2019-04-04 14:20] #208 closed

[2019-04-04 14:26] Yakoust commented on #198
@HarelM can we close this issue?

We are close to merge #183

[2019-04-04 14:46] Dji75 commented on #223
Yes you're right, it fix it ! (but I have now other issues but not related to ol-cesium)

[2019-04-04 15:19] Yakoust opened #225 ":warning: Migration OL5 and next release steps :warning:"
# Hello everyone,

We are about to merge the Open Layers 5.3.0 migration PR #183 into the next branch.

This next version (1.0.0.next-7) will involve many breaking changes.

If you are using the `next` version in production, I **strongly** recommend you to hold the version used (basically, to remove the tilde `~` or the caret `^` before the version of ngx-openlayers)

## Next steps

### Step 1
We

[2019-04-05 06:22] #198 closed

[2019-04-05 08:35] BonjourUnivers commented on #196
Hi,
did you use @angular/material accordeon ? If so it seems to work with the expansion panel.

https://stackblitz.com/edit/ngx-openlayers-196-1yyaka

If not, I had a similar problem with the stepper : It changes the display on the `ngAfterContentInit` lifecycle hook, and if the map is loaded at the wrong 'moment', the component.ts gets loaded without the template, wich makes the binding fail beca

[2019-04-08 07:24] remiHau commented on #225
There is a bug with Openlayer 5.3.0 for the reprojection of coordinates when the app is build with the flag buildOptimizer. It was fix in the version 5.3.1. I suggest we use directly this version. I can do the merge request if you want.

[2019-04-08 07:33] Yakoust commented on #225
You're right.

As we use `"ol": "^5.3.0"`, installed version will be the last `5.x.x` version available.
But I'll take this action!

Thanks

[2019-04-08 13:58] BonjourUnivers commented on #164
you are missing the implementation of what you want ^^

You do that by adding the desired interaction as an html tag embedded in the map.

you have to add the desired control to your map, in your case :
`<aol-interaction-default></aol-interaction-default>`

which should give you (with the base example) :

[code]
see https://stackblitz.com/edit/ngx-openlayers-default-interaction

Please refer to th

[2019-04-12 09:39] Yakoust opened #228 "Warnings in console about OL objects"
In an Angular app integrating OL5, we can see lots of warnings (as in demo app)

![image](https://user-images.githubusercontent.com/30597077/56027875-336e2c00-5d17-11e9-8640-61ba665e3a0d.png)

Related issue on webpack => https://github.com/webpack/webpack/issues/7378

In OL we have `export default Source;` for instance
It seems to be a bad practice
https://basarat.gitbooks.io/typescript/docs/tips/

[2019-05-01 04:26] mablae commented on #136
I am facing the same issue. I am using v next7 und angular 7.2

[2019-05-14 21:15] LuisAngelMoralesRomo commented on #105
I made this directive to get the `(onClick)` event on `<aol-feature>`, hope it helps.

[code]

[2019-05-20 08:48] #189 closed

[2019-06-03 15:07] codetrend opened #235 "next version with OL5 and definitely typed has compile errors"
I have installed:

ngx-openlayers 1.0.0-next.7
ol 5.3.1
@types/ol 5.3.0

There are numerous compile errors ie:

_ERROR in node_modules/ngx-openlayers/lib/layers/layer.component.d.ts(2,10): error TS2305: Module '"C:/source/git/Titan2/TitanApp/node_modules/@types/ol/events"' has no exported member 'Event'._

This occurs as Event is not exported from .\node_modules\@types\ol\events\index.d.ts

Simila

[2019-07-15 06:04] MiftahulxHuda commented on #119
@sughodke I attempt to add an icon to a marker but still don't work. Give me a sample code to add the icon to the marker.

[2019-08-02 18:39] LeandroFiaschetti commented on #5
ngAfterViewChecked is called many times so, the performance of your application will fall. I recommend you to use events provided by ol, for example:
`map.once('postrender', function (event) {
self.map.updateSize();
});`
This works fine for me.

[2019-08-13 10:24] tomaszs opened #239 "Ngx-openlayers is extremely slow"
It takes over 3 minutes to load tiles. Are there any settings to boost it, or enable mip-mapping of tiles?

[2019-08-26 16:22] remiHau opened #240 "Point with altitude with ol-cesium"
Hi,

We are using ngx-openlayers with ol-cesium to display a 3D view. I have managed to display feature with altitude for all the geometry except the point because the point use the coordinate component while the other geometry use the collection-coordinates component.
The coordinate component has 2 input x and y.
The collection-coordinates has an array of coordinates.
So if I set an altitude as t

[2019-08-28 13:18] NathanKolpa opened #241 "cluster preformance"
ngx openlayers is realy slow compaired to the normal openlayers

[2019-09-03 05:47] stritti opened #242 "How to show current geolocation"
I ould like to show current geolocation of the user on map. I searched for an example, but found nothing working in my Angular component.

Is it possible in ngx-openlayers to set current geolocation? Any hints are welcome.

[2019-09-03 10:00] stritti commented on #242
Okay I found now a working example myself: https://github.com/jeffersonmds/discover-places-app

[2019-09-03 10:00] #242 closed

[2019-09-06 12:07] tomaszs opened #243 "Vulnerabilities reported by npm audit"
Npm audit reports several high vunerabilities in the package:

 Low             Prototype Pollution

  Package         lodash

  Dependency of   ngx-openlayers

  Path            ngx-openlayers > openlayers > closure-util > async > lodash

  More info       https://nodesecurity.io/advisories/577

  High            Prototype Pollution

  Package         lodash

  Dependency of   ngx-openlayers

  P

[2019-10-17 14:03] redor85 commented on #5
@LeandroFiaschetti: Thanks a lot. This works also in a normal Angular (V8), Openlayers (V6), Bootstrap (V4) app.

[2019-11-25 19:49] wflemingnz commented on #66
Any update on this? We are seeing huge number of change detection cycles as a result of openlayers calls to requestAnimationFrame and setTimeout.

Even dragging across the map causes a constant stream of cycles.

I have used the following code in polyfills.ts and saw a major reduction, but I think the ideal solution lies in ngx-openlayers instantiating the openlayers components via runOutsideAngul

[2019-11-26 10:10] siarhei-yushkevich commented on #222
Necroposting just in case somebody has the same issue and googled it.

Short section in readme.md  about controls says that you have to set id for your custom control (immediate child of aol-content), and then just style the 'map component's css'.

This highlights the problem: controls are not added inside aol-control or aol-content, they are added to one of the children inside the map itself.
As

[2019-11-27 15:47] campeloneto1 commented on #239
I have the same problem,how you fixet?

[2019-12-04 14:59] campeloneto1 commented on #241
I have the same problem, how you fixet?

[2020-01-28 11:14] davidhopes commented on #66
I'm having an issue with this too, mainly affecting performance on IE11, any updates?

[2020-02-07 12:13] genesispro opened #248 "Angular 9 >> ERROR in Symbol MapComponent declared in...is not exported from..../ngx-openlayers/dist/index.js"
After upgrading my project to Angular 9 I got this error.
If I disable the Ivy compiler it works fine. With Ivy compiler I get the error and the application won't run

[2020-02-21 16:53] kekel87 commented on #248
On the `next` branch, there are warnings but the application with Ivy works with me.

[2020-03-01 09:28] achimha opened #250 "Mouse issue on next build"
Using the current next branch, the map does not respond to mouse events when running the sample from git.

I have the same problem using the package in my application.

I tried pinning ol at version 5.3.3 with no change.

Angular is at 8.2.11 with the sample.

[2020-03-02 03:23] Helveg opened #251 "Access OpenLayers API?"
The documentation guide doesn't explain how we can access the Open Layers API or whether that's possible/idiomatic for this package. Could you explain the basics of how we could translate and apply the OpenLayers documentation to this package?

What would for example the corresponding import  translate be for:

[code]

Also, if I may, how could I transform the coordinates given by the `onClick` ev

[2020-03-04 10:49] skappler commented on #248
Works for me too.
Can you please add angular version 9.0.0 to the package.json aswell to get rid of the npm warnings?

[2020-03-05 08:30] fredriklindell commented on #248
Almost everything works for me too v9.0.5.

What does not work (that I have found) is map click. Anyone else have this problem? Or a possible workaround?

Thanks in advance.

[2020-03-05 08:56] skappler commented on #248
@fredriklindell After migrating from 0.8.22 to 1.0.0-next.13 I had to change the (onSingleClick) callback on aol-map to (singleClick) to make it work again

[2020-03-05 09:14] fredriklindell commented on #248
@skappler thnx for the tip, still does not work together with angular 9. seems like the events are not fireing

[2020-03-12 22:55] Helveg commented on #243
@quentin-ol Any news on this? There's 25 vulnerabilities. Is this project still maintained?

[2020-03-16 13:41] jorugit commented on #248
Do you have a solution for this problem?

[2020-03-17 19:51] jorugit commented on #222
Hi!
please post a  sample of your code.
I have the same issue and your short sample doesnt help me

[2020-03-17 20:06] siarhei-yushkevich commented on #222
@jorugit  https://pastebin.com/BNhkuETm here's the simple map component  I've created for one of the projects. I hope it helps. Although it won't work without the surrounding infrastructure, the required modifications for general use are minimal.

[2020-03-18 09:29] jorugit commented on #222
OK, THANK YOU!
the error was that i forgot to link to the ol.css-file in anguar.json....

[2020-03-24 17:23] packetstracer opened #252 "Custom openlayers loader function"
It would be great to give the posibility to provide an openlayers custom loader function to source components (or whereever needed) in order to access gis servers with specific requirements or handle requests in a customize way.

I could do the development if indications given, don't know where to start. I'll try to include the functionality because I need it in my currrent project and will provid

[2020-03-25 14:36] Ghostbird commented on #250
I have the same issue in angular 9.07

[2020-03-25 15:21] Hobbes1987 commented on #250
MapComponent seems to have these EventEmitters, couple of them are new

[code]
I can successfully use singleClick to click some features

[2020-03-25 15:36] Ghostbird commented on #250
It seems `onClick` has been renamed to `olClick`.

[2020-03-27 15:39] packetstracer commented on #252
I'm doing a first try and think that can be done by modifying `tileLoadFunction` in `source` parameter passed to `_register` in `source.component.ts` before setting the source to openlayers instance. Something like this seems to work with a xyz-source:

[code]

My Idea is to add an @Input property in xyz.component so the function can be passed when using the component as this:

[code]

and then se

[2020-03-30 02:56] tebantebanteban opened #253 "not work in Angular 9"
If install next branch and with ol package aol-map shows blank !

[2020-04-02 12:28] yousefanini commented on #253
did work with you?

[2020-04-02 13:08] yousefanini commented on #250
I have the same issue after moving from Angular 7 to 9, did anyone know how to fix?
PS: when dragging or clicking on zoom in/ out the values are changed but the map stays the same.
Should I override onClick in my ts file?

[2020-04-03 11:50] Ghostbird commented on #250
Well, I don't know what causes your issues with the controls, but as mentioned above, the `EventEmitter` `onClick` was renamed to `olClick`.

Replace `<aol-map onClick=...` with <aol-map olClick...`. That should solve at least part of your problems.

[2020-04-16 08:36] packetstracer commented on #252
Finally I found that the xyz component has a property for that

`@Input() tileLoadFunction?: TileLoadFunctionType;`

also de geoson component has a property for that

`@Input() loader?: ol.FeatureLoader;`

but in the second case I needed to acces geojson component openlayers instance property inside de loader function, so I needed to modify slightly de component ngOnInit() method. The resulting co

[2020-04-16 08:39] #252 closed

[2020-04-20 15:24] Nicobai commented on #248
Hello everyone, i have the exact same issue described above. i have tried the "next" branch but it doesn't work... Do somebody have a solution ?

[2020-04-27 18:09] sudmann commented on #251
You need to import `AngularOpenlayersModule` from the npm package and then import it in your desired NgModule.

Could look something like this:
[code]
Now the components are usable within scope of the `AppModule`. Consult the [documentation](https://github.com/quentin-ol/ngx-openlayers/tree/master/documentation) or the [demo project](https://github.com/quentin-ol/ngx-openlayers/tree/master/example

[2020-04-28 23:21] Helveg commented on #251
Ok, do you have a snippet for using the native ol api in an Angular project?

[2020-06-01 06:58] the-pinky-man commented on #253
https://github.com/quentin-ol/ngx-openlayers/pull/249 was merged into https://github.com/quentin-ol/ngx-openlayers/tree/1.0.0-next.15

[2020-06-09 03:49] panaaj commented on #250
I have recently updated my project from Angular8 and ngx-openlayers.next-11 to Angular9 and ngx-openlayers.next-15 (with ol 6.3.1), updated the event outputs to use the new names (olClick, moveEnd, etc) and am experiencing the same issue.
Mouse events are not being triggered as they were previously.
Browser I am using is Chrome.

I found the following was happening:
- Clicking map does not fire (o

[2020-06-18 08:12] the-pinky-man commented on #248
@fredriklindell I had this issue it was because I didn't update the ol.css

[2020-06-26 08:31] MarouaniALA commented on #211
Hi @reservoir-dogs ,
Did you solve this issue?

[2020-07-31 07:47] gongAll opened #256 "feat: Angular 10 Support"
When I upgrade my project to Angular 10 I get warning messages related to lack of support from ngx-openlayers to angular 10.
Please update ngx-openlayers package to support Angular 10.

[2020-08-04 01:21] gongAll commented on #256
So... any news regarding this issue?

[2020-09-09 14:09] pascal101 opened #261 "How to capture a mouse over event on a <aol-feature> with OpenLayer"
Is there a way to capture mouse over event on a aol-feature on a OSM map ? I have a device list (points) which are dysplayed on the map and my goal is to be able to show a pop-up once the mouse is over a device (aol-feature).
I'm beginner on OpenLayer librairie and on OSM map.

First I tried to follow this explaination with onClick event : https://github.com/quentin-ol/ngx-openlayers/issues/84 But

[2020-10-02 09:50] wflemingnz commented on #261
Based on the code you have given, you aren't setting `popupContent.gpsLongitude` and `popupContent.gpsLatitude` so the overlay will not be positioned hence you won't see the popup.

Regarding mouseover, you can do it by handling the map `pointermove` event and calling `map.forEachFeatureAtPixel(..)` once to get the feature.

[2020-10-07 12:58] pascal101 commented on #261
Thank you very much for your answer.

I made some changes in my code like you can see below. Now a popup appears on click event on a DEVICE. But it is always at the bottom left of the screen, and quite far from the clicked point, as you can see on the image below.

![Popup_out_of_map](https://user-images.githubusercontent.com/63661013/95332782-2d292380-08ac-11eb-8aa0-05a4d5c8cca3.png)

I don't und

[2020-10-08 12:02] wflemingnz commented on #261
1. Hard to say without running example and further investigation. Probably either a projection issue or an html layout issue
2. Use the openlayers `pointermove` event rather than `mouseover`:
  `<aol-map (pointermove)="pointerMoved()">`

[2020-10-11 15:27] olierxleben commented on #256
I have created a new Angular application and was able to load the example from readme file. What does not work? Angular 10.1.6

[2020-11-15 07:50] ShaiBarak commented on #256
Also happen to me...
There's a lot of messages, for example:
Can't bind to 'ngForOf' since it isn't a known property of 'aol-feature'.
1. If 'aol-source-vector' is an Angular component, then verify that it is part of this module.
2. If 'aol-source-vector' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
1. If 'aol-geometry-

[2021-01-20 16:42] usb248 commented on #125
Silent is golden.

[2021-01-21 08:33] dabbid commented on #125
A quick fix could be to listen to scroll event at canvas level, and then to stop this event's propagation so it wouldn't impact map's container (not tested though)

[2021-01-27 23:22] NizhiSaeba opened #263 "<aol-overlay> can't getPosition"
Hello, i have a lot of days dealing with this:

i have a few weeks working with this library, all seems going well, but now i have to show some info i got from wms server. i'm trying to use <aol-overlay> with this code:

`<aol-overlay *ngIf="WMSInfo.mostrar" #popupOverlay [autoPan]="true">
                    <aol-coordinate
                        [x]="clickCoord4326[0]"
                        [

[2021-03-09 20:52] #220 closed

[2021-05-15 05:10] Shaurya-Yay commented on #263
I am facing the same problem after upgrading angular version from 9 to 10 and then 11.
Cannot read property 'setPosition' of undefined
    at CoordinateComponent.ngOnChanges (coordinate.component.js:49)

[2021-10-23 17:16] ghost opened #269 "Why did you stop supporting?"
Hello, why did you stop supporting? it's hard without you

[2021-11-02 15:25] VirtualSatai commented on #66
I've fixed this doing what's described [here](https://stackoverflow.com/a/58533365/3320297) to disable zonejs from listening to the events openlayers use.
If you depend on zonejs triggering changes in angular based on these events, this will break and you manually have to trigger them, so make sure you aren't needing it.

New file `zone-flag.ts` in the same folder as `polyfills.ts`:
[code]

Update

[2022-01-10 11:41] ramiassi opened #270 "The map is not showing inside a modal"
I was trying to display a map inside a BsModalRef when it didn't show up. I used the basic provided sample:
[code]
It is showing correctly in all the other components as long as they are not inside a modal.
The problem is that  there is no errors in the browser console or the compiler.

[2022-01-10 14:24] ramiassi commented on #251
You can basically import all from openlayers like this:
[code]
Then you can use the OpenLayers native api. For example to transform the coordinates given by the onClick event to lat long:
[code]

[2022-01-11 10:18] ramiassi commented on #270
I could force the map to redraw itself by calling the updateSize method. I have chosen to redraw the map After View Initialization:
[code]

[2022-01-11 10:18] #270 closed

[2022-02-08 10:52] peterrauch88 commented on #263
Is there a solution for this problem? After upgrading the angular version, I got the same message.

[2022-02-08 11:37] peterrauch88 commented on #263
adding peerDependencies to package.json solved my problem
"peerDependencies": {
    "@angular/common": ">=6.0.0 <=10.x.x",
    "@angular/core": ">=6.0.0 <=10.x.x",
    "ol": "^6.0.0"
  }

[2022-03-06 23:56] AbdallahAbdedaiem commented on #108
Please let me know if you found a solution for this.

[2022-06-06 14:05] jeandonaldroselin commented on #108
@AbdallahAbdedaiem there is a solution there submitted by a developer => https://github.com/quentin-ol/ngx-openlayers/pull/202.

But the Pull Request is still not merged after two years @quentin-ol are you alive ? lol.

[2022-07-25 13:20] achimha commented on #269
I have published a version compatible with Angular 12+ (Ivy enabled) as @achimha/ngx-ol